<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store - Заказ №12345</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../vendor/css/orders.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">SibDoski</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">     
                <div class="nav-item">
                    <button onclick="myFunction()" class="nav-btn">Места катания</button>
                    <div id="MyNavDown" class="nav-content">
                      <a href="krasnoyarsk.html">Красноярск</a>
                      <a href="divnogorsk.html">Дивногорск</a>
                      <a href="sheregesh.html">Шерегеш</a>
                    </div>
                  </div>   
                <div class="nav-item">
                    <button onclick="myFunction2()" class="nav-btn">Снаряжение</button>
                    <div id="MyNavDown2" class="nav-content">
                      <a href="#">Выбор сноуборда</a>
                      <a href="#">Выбор ботинок</a>
                      <a href="#">Выбор креплений</a>
                    </div>
                  </div> 
                  <div class="nav-item">
                    <button onclick="myFunction3()" class="nav-btn">Техника</button>
                    <div id="MyNavDown3" class="nav-content">
                      <a href="#">что-то раз</a>
                      <a href="#">что-то два</a>
                      <a href="#">что-то три</a>
                    </div>
                  </div> 
                <li class="nav-item">
                    <a class="nav-link" href="products.html">Форум <i class="fas fa-shopping-bag"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="users/login.html">Войти <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="users/profile.html">Профиль</a>
                        </li>
                        <li><a class="dropdown-item" href="orders/orders.html">Заказы</a></li>
                        <li><a class="dropdown-item" href="#">Админ-панель</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Выйти
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="b-container">
    <div class="b-head-ill_left">
        <div class="b-head-ill_right">
            <table class="l-head">
            <tbody><tr>
                <td class="l-head-g"><i></i></td>
                <td class="l-head-l">
                    <div class="sticky-navigation-container">
                        <div class="sticky-wrapper" style="height: 60px;"><div class="sticky-navigation stuck">
                            
    



                        </div></div>
                    </div>
                </td>
                <td class="l-head-g"><i></i></td>
            </tr>
            </tbody></table>

            
                <table class="l-page">
                <tbody><tr>
                    <td class="l-page-g"><i></i></td>
                    <td class="l-page-l">
                        
                            <div class="b-page-title"><h1>Выбираем сноуборд  </h1></div>

                            

    <div style="clear:both">
        <div class="b-feed b-post">
        <div class="item">
            <div class="text g-line b-post_content">
                <p>
                    </p><p>У тех, кто решил заниматься сноубордингом, первым делом возникает вопрос: как правильно выбрать то, на чем кататься? Ведь в процессе не должно возникать чувство дискомфорта, а наоборот, он обязан быть безопасным и приносить радость и хорошие впечатления. Новичкам лучше изначально поинтересоваться о различных видах спортивного инвентаря на разнообразных сайтах, в частности таком, как <a href="http://www.planeta-sport.ru/">Планета Спорт</a>.</p>

<h2>Правила выбора</h2>

<p>Сноуборд – это плоская доска с приподнятыми торцами. Она состоит из поверхности, соприкасающейся со снегом, и основания, где находятся крепления для ботинок.</p>

<p>По краям доски расположен кант. Он необходим для управления сноубордом, особенно это касается поворотов.</p>

<p>При выборе доски <a href="http://www.planeta-sport.ru/catalog/types-of-sports/zimnie/snoubord/snoubordy/">в магазине сноубордов</a> вам объяснят, что они различаются формой и жесткостью. На «мягкой» основе проще учиться. Такой сноуборд ведет себя на трассе более плавно. Доска с «жесткой» основой отлично подойдет для спортсменов со стажем.</p>

<p>Необходимо так же учитывать и стиль катания. К примеру, фрирайд – это покорение «диких» вершин, т. е. тех трасс, где еще никто не катался. В таком случае отлично подходят длинные и широкие доски, причем носовая часть должна быть шире.</p>

<p>Фристайл – трюки, связанные с прыжками. Здесь доска по ширине везде должна быть одинаковой.</p>
Правила выбора доски по росту и весу:
отнимаем 15 см от роста сноубордиста;
если вы имеете вес более 80 кг, то лучше добавить 5 см, если менее 40 кг – отнимите 5см;
для новичков оптимальный вариант – отнять 10 см;
для фристайла – минус 5 см;
для фрирайда прибавляем 5 см.


<p>Очень важный критерий – подбор креплений. Они должны плотно затягивать ботинки, не создавая дискомфорта ногам, а также хорошо держать пятку.</p>

<p>Дальнейшие подробности - в нашей статье о <a href="http://glader.ru/ekipirovka/kak-vyibraty-idealynyij-snoubord.htm">выборе сноуборда.</a></p>
                <p></p>
            </div>

           


            <div style="clear:both"></div>
<br>
<a name="comments"></a>

<!-- Page Content -->
<section>
    <div class="b-container">
        
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js" crossorigin="anonymous"></script>

</body>

</html>
