{% extends 'products/base.html'%}

{%block css%}
    <link href="/static/vendor/css/orders.css" rel="stylesheet">
{%endblock%}

{% block content %}

<!-- Page Content -->
<section>
    <div class="b-container">
        <div class="b-head-ill_left">
            <div class="b-head-ill_right">
                <table class="l-head">
                    <tbody>
                    <tr>
                        <td class="l-head-g"><i></i></td>
                        <td class="l-head-l">
                            <div class="sticky-navigation-container">
                                <div class="sticky-wrapper" style="height: 60px;">
                                    <div class="sticky-navigation stuck">


                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="l-head-g"><i></i></td>
                    </tr>
                    </tbody>
                </table>


                <table class="l-page">
                    <tbody>
                    <tr>
                        <td class="l-page-g"><i></i></td>
                        <td class="l-page-l">
                            <div class="b-page-title"><h1>Выбираем сноуборд </h1></div>

                            <div class="text g-line b-post_content">
                                <p>
                                </p>
                                <p>У тех, кто решил заниматься сноубордингом, первым делом возникает вопрос: как
                                    правильно выбрать то, на чем кататься? Ведь в процессе не должно возникать
                                    чувство дискомфорта, а наоборот, он обязан быть безопасным и приносить
                                    радость и хорошие впечатления. Новичкам лучше изначально поинтересоваться о
                                    различных видах спортивного инвентаря на разнообразных сайтах, в частности
                                    таком, как <a href="http://www.planeta-sport.ru/">Планета Спорт</a>.</p>

                                <h2>Правила выбора</h2>

                                <p>Сноуборд – это плоская доска с приподнятыми торцами. Она состоит из
                                    поверхности, соприкасающейся со снегом, и основания, где находятся крепления
                                    для ботинок.</p>

                                <p>По краям доски расположен кант. Он необходим для управления сноубордом,
                                    особенно это касается поворотов.</p>

                                <p>При выборе доски <a
                                        href="http://www.planeta-sport.ru/catalog/types-of-sports/zimnie/snoubord/snoubordy/">в
                                    магазине сноубордов</a> вам объяснят, что они различаются формой и
                                    жесткостью. На «мягкой» основе проще учиться. Такой сноуборд ведет себя на
                                    трассе более плавно. Доска с «жесткой» основой отлично подойдет для
                                    спортсменов со стажем.</p>

                                <p>Необходимо так же учитывать и стиль катания. К примеру, фрирайд – это
                                    покорение «диких» вершин, т. е. тех трасс, где еще никто не катался. В таком
                                    случае отлично подходят длинные и широкие доски, причем носовая часть должна
                                    быть шире.</p>

                                <p>Фристайл – трюки, связанные с прыжками. Здесь доска по ширине везде должна
                                    быть одинаковой.</p>
                                Правила выбора доски по росту и весу:
                                отнимаем 15 см от роста сноубордиста;
                                если вы имеете вес более 80 кг, то лучше добавить 5 см, если менее 40 кг –
                                отнимите 5см;
                                для новичков оптимальный вариант – отнять 10 см;
                                для фристайла – минус 5 см;
                                для фрирайда прибавляем 5 см.


                                <p>Очень важный критерий – подбор креплений. Они должны плотно затягивать
                                    ботинки, не создавая дискомфорта ногам, а также хорошо держать пятку.</p>

                                <p>Дальнейшие подробности - в нашей статье о <a
                                        href="http://glader.ru/ekipirovka/kak-vyibraty-idealynyij-snoubord.htm">выборе
                                    сноуборда.</a></p>
                                <p></p>
                            </div>
</section>

{% endblock %}

{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>

</body>

</html>
{%endblock%}


