{% extends 'products/base.html'%}

{%block css%}
<link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}

<body>
<div class="b-container">
    <div class="b-head-ill_left">
        <div class="b-head-ill_right">
            <div class="b-container">
                <div class="b-head-ill_left">
                    <div class="b-head-ill_right">
                        <table class="l-head">
                            <tbody>
                            <tr>
                                <td class="l-head-g"><i></i></td>
                                <td class="l-head-l">
                                    <div class="sticky-navigation-container">
                                        <div class="sticky-wrapper" style="height: 60px;">
                                            <div class="sticky-navigation stuck">


                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="l-head-g"><i></i></td>
                            </tr>
                            </tbody>
                        </table>


                        <tbody>
                        <tr>

                        <tbody>
                        <tr>
                            <td class="l-page-g"><i></i></td>
                            <td class="l-page-l">

                                <div class="b-page-title"><h1>Экипировка для сноуборда </h1></div>


                                <div style="clear:both">
                                    <div class="b-feed b-post">
                                        <div class="item">
                                            <div class="text g-line b-post_content">
                                                <p>
                                                </p>
                                                <p>
                                                    Чтобы покататься на доске, необязательно знать все о сноубординге,
                                                    достаточно
                                                    понять, что это специфический и травмоопасный вид спорта. Он
                                                    подразумевает
                                                    использование специальной экипировки, которая предназначена
                                                    предотвратить травмы
                                                    спортсмена и при этом быть максимально комфортной. Поэтому к выбору
                                                    стоит
                                                    относиться наиболее ответственно.
                                                </p>
                                                <p>
                                                    <img src="http://img-fotki.yandex.ru/get/5608/19044756.1ba/0_daf3b_800a77d1_orig"
                                                         style="width: 650px; height: 406px;" width="650" height="406">
                                                </p>
                                                <p>
                                                    Обратите внимание, что снаряжение представлено на прилавках
                                                    магазинов в широком
                                                    ассортименте, что создает сложность при выборе экипировки даже для
                                                    бывалых
                                                    спортсменов. Тем более стоимость продукции достаточно приличная,
                                                    поэтому новичку
                                                    необходимо понять, что на начальном этапе вполне возможно обойтись
                                                    базовым
                                                    сноубордическим оборудованием, а не слепо скупать полными
                                                    комплектами все
                                                    принадлежности для катания.
                                                </p>
                                                <p>
                                                    В этой статье будет подробно рассмотрен весь необходимый инвентарь
                                                    райдера, а
                                                    также наиболее ведущие фирмы-производители экипировки для
                                                    сноубордиста.
                                                </p>
                                                <h4>
                                                    Выбор доски для сноуборда
                                                </h4>
                                                <p>
                                                    С важностью этого элемента может сравниться только наличие снега на
                                                    склоне.
                                                    Действительно, к
                                                    <a href="http://glader.ru/content/kak-vybraty-snoubord.htm"
                                                       rel="nofollow"
                                                       target="_blank">
                                                        выбору борда
                                                    </a>
                                                    нужно отнестись наиболее внимательно. Перед покупкой стоит обратить
                                                    внимание на
                                                    следующие моменты.
                                                </p>
                                                <p>
                                                    1. Длина. Это соотношение размера сноуборда по отношению к весу
                                                    сноубордиста.
                                                    Производители досок обычно пишут рекомендуемый вес райдера на борде,
                                                    так что с
                                                    этим сложностей не возникнет.
                                                </p>
                                                <p>
                                                    2. Ширина. Она целиком зависит от размера вашей обуви. Оптимальное
                                                    соотношение
                                                    ширины доски и размера обуви обеспечивает максимальный контроль при
                                                    спуске со
                                                    склона.
                                                </p>
                                                <p>
                                                    3. Конструкция. Существуют два вида – это CAP и SIDEWALL. Они в
                                                    основном влияют
                                                    на стоимость сноуборда. Первый дешевый, но хрупкий. Второй
                                                    достаточно
                                                    износостойкий, но дорогой.
                                                </p>
                                                <p>
                                                    <img src="http://img-fotki.yandex.ru/get/5204/19044756.1bb/0_daf3c_8c3642af_orig"
                                                         style="width: 474px; height: 292px;" width="474" height="292">
                                                </p>
                                                <p>
                                                    4. Форма изгиба. Она делится на следующие типы. Camber –
                                                    традиционный борд,
                                                    подходящий для всех стилей катания. Rocker – доски с этой формой
                                                    изгиба подходят
                                                    для любителей фристайла. Flat подходит для фристайла, но вмещает в
                                                    себя
                                                    характеристики Camber’a.
                                                </p>
                                                <p>
                                                    5. Половой признак. Так как в наше время многие девушки увлекаются
                                                    сноубордингом, производители предусматривают изготовление женской
                                                    экипировки.
                                                </p>
                                                <p>
                                                    Средняя цена сноуборда на данный момент достигает 12–15 тысяч
                                                    рублей.
                                                </p>
                                                <h4>
                                                    Подбор ботинок для катания
                                                </h4>
                                                <p>
                                                    Выбор
                                                    <a href="http://glader.ru/content/boots_detailed.htm" rel="nofollow"
                                                       target="_blank">
                                                        ботинок для сноубординга
                                                    </a>
                                                    является вторым по важности после покупки доски. Это очень важная
                                                    часть
                                                    экипировки райдера. Удобная обувь обеспечивает устойчивое положение
                                                    стопы, что
                                                    позволит избежать множества болезненных травм.
                                                </p>
                                                <p>
                                                    При выборе ботинок обратите внимание на положение ноги, она должна
                                                    быть плотно
                                                    зафиксирована и не болтаться. Цена на обувь начинается от 5 тысяч
                                                    рублей.
                                                </p>
                                                <p>
                                                    <img src="http://img-fotki.yandex.ru/get/4123/19044756.1bb/0_daf3d_babbab5c_orig"
                                                         style="width: 580px; height: 383px;" width="580" height="383">
                                                </p>
                                                <h4>
                                                    Выбор креплений для сноуборда
                                                </h4>
                                                <p>
                                                    <a href="http://glader.ru/content/bindings_detailed.htm"
                                                       rel="nofollow"
                                                       target="_blank">
                                                        Крепления для сноуборда
                                                    </a>
                                                    также входит в базовый набор райдера. Их стоит подбирать под уже
                                                    купленные
                                                    ботинки. Крепления должны четко фиксировать ботинки сноубордиста к
                                                    борду. Здесь
                                                    стоит обратить внимание на крепеж, у новичков он не должен быть
                                                    жестким, так как
                                                    жесткий профессиональный крепеж предназначен для гонщиков на больших
                                                    скоростях.
                                                </p>
                                                <p>
                                                    Стоимость креплений – около 4 тысяч рублей. Крепления лучше выбирать
                                                    с
                                                    металлическими клипсами которые более долговечны.
                                                </p>
                                                <h4>
                                                    Шлем сноубордиста
                                                </h4>
                                                <p>
                                                    <a href="http://glader.ru/content/shlem-dlya-snoborda.htm"
                                                       rel="nofollow"
                                                       target="_blank">
                                                        Шлем для сноубординга
                                                    </a>
                                                    считается важным атрибутом не только для новичков, но и для бывалых
                                                    спортсменов.
                                                    Он защищает голову, от повреждения при падениях на склонах.
                                                    Некоторые райдеры
                                                    пренебрегают шлемами, в результате чего получают достаточно
                                                    серьезные травмы.
                                                </p>
                                                <p>
                                                    Шлемы подразделяются на два типа. Закрытый – предназначен для
                                                    профессионалов,
                                                    выступающих в слаломе или лесном фрирайде. Открытый – используется
                                                    повсеместно,
                                                    он легкий, дешевый и надежный. В выборе шлема обратите внимание на
                                                    то, как
                                                    плотно он сидит на голове. При этом шлем должен комфортно обтекать
                                                    окружность
                                                    головы, что бы избежать неудобства при его использовании.
                                                </p>
                                                <p>
                                                    <img src="http://img-fotki.yandex.ru/get/4313/19044756.1bb/0_daf3e_31570bac_orig">
                                                </p>
                                                <h4>
                                                    Дополнительный инвентарь сноубордиста
                                                </h4>
                                                <p>
                                                    В этом пункте будут описаны дополнительные элементы экипировки
                                                    райдера. Они не
                                                    являются базовыми, и используют их в основном опытные гонщики.
                                                    Новички же, если
                                                    не располагают достаточными денежными средствами, могут обойтись
                                                    базовым
                                                    комплектом экипировки.
                                                </p>
                                                <p>
                                                    Вам необязательно сразу покупать весь комплект. Вы можете взять
                                                    что-то и на
                                                    время. Например, в сервисе
                                                    <a href="https://rentgrab.ru/content/2-ski-and-board-lessons"
                                                       title="RentGrab">
                                                        RentGrab
                                                    </a>
                                                    . Ребята осуществляют прокат сноубордического и горнолыжного
                                                    оборудования.
                                                    Довольно удобно, чтобы понять, нравится вам этот вид спорта или нет.
                                                    Не придется
                                                    сдавать в магазин купленное. Конечно, можно воспользоваться прокатом
                                                    на горке,
                                                    но это обычно дороже, чем в специализированных сервисах.
                                                </p>
                                                <h4>
                                                    Одежда
                                                </h4>
                                                <p>
                                                    <a href="http://glader.ru/content/teplo-dobno-i-krasivo-odezhda-dlya-snoborda.htm"
                                                       rel="nofollow" target="_blank">
                                                        Одежда сноубордиста
                                                    </a>
                                                    состоит из двух основных элементов (куртка и штаны). Одежда должна
                                                    быть:
                                                </p>
                                                <ul>
                                                    <li>
                                                        теплой;
                                                    </li>
                                                    <li>
                                                        непромокаемой и продуваемой снаружи;
                                                    </li>
                                                    <li>
                                                        внутри оставаться сухой;
                                                    </li>
                                                    <li>
                                                        многофункциональной и красивой.
                                                    </li>
                                                </ul>
                                                <p>
                                                    Что касается стиля и дизайна, тут нет принципиальной разницы при
                                                    покупке, ставка
                                                    идет на вкус покупателя, главное – чтобы одежда была удобной. Цена
                                                    на полный
                                                    комплект на данный момент составит около 30 тысяч рублей.
                                                </p>
                                                <p>
                                                    <img src="http://img-fotki.yandex.ru/get/6401/19044756.1bb/0_daf3f_b6cb95ca_orig"
                                                         style="width: 579px; height: 387px;" width="579" height="387">
                                                </p>
                                                <h4>
                                                    Перчатки
                                                </h4>
                                                <p>
                                                    Руки сноубордиста греют специальные варежки и перчатки. У каждого
                                                    вида есть свои
                                                    плюсы и минусы. Варежки достаточно долго сохраняют тепло, но в
                                                    перчатках удобнее
                                                    застегивать или расстегивать крепления. Также перчатки подбираются
                                                    под стиль
                                                    катания. Например, перчатки с длинной манжетой надеваются на куртку,
                                                    что делает
                                                    их удобными для фрирайда, а перчатки для любителей экстремальных
                                                    стилей снабжены
                                                    защитой от повреждения кисти.
                                                </p>
                                                <p>
                                                    Стоимость
                                                    <a href="http://glader.ru/content/kak-vybraty-perchatki-dlya-snoborda.htm"
                                                       rel="nofollow" target="_blank">
                                                        перчаток для сноубординга
                                                    </a>
                                                    варьируется от 800 рублей до 6 тысяч. Лучше всего подойдет недорогой
                                                    износостойкий вариант в пределах 1500 рублей, так как экономия на
                                                    перчатках не
                                                    сильно отразится на качестве катания на борде.
                                                </p>
                                                <h4>
                                                    Маска сноубордиста
                                                </h4>
                                                <p>
                                                    Маска, конечно, важный атрибут экипировки сноубордиста, но чтобы
                                                    покататься на
                                                    доске, ее наличие необязательно. Она в первую очередь предназначена
                                                    для защиты
                                                    глаз от ультрафиолета и ни в коем случае не должна ухудшать
                                                    видимость гонщику.
                                                </p>
                                                <p>
                                                    При покупке
                                                    <a href="http://glader.ru/content/maska-dlya-snoborda.htm"
                                                       rel="nofollow"
                                                       target="_blank">
                                                        маски для сноубординга
                                                    </a>
                                                    стоит обратить внимание на то, что большинство дешевых масок
                                                    представляют собой
                                                    обычный пластик со стеклом. Они никак не защищают зрение от солнца,
                                                    а наоборот
                                                    могут вызвать неудобства из-за размытости на линзе. Если покупать
                                                    маску, то
                                                    известных брендов, как правило, у них продукция наиболее
                                                    качественная, но это
                                                    влетит в копеечку: цена хорошей маски для сноубординга – от 10 тысяч
                                                    рублей.
                                                </p>
                                                <p>
                                                    <img src="http://img-fotki.yandex.ru/get/9795/19044756.1bb/0_daf40_a2e12f54_orig"
                                                         style="width: 601px; height: 423px;" width="601" height="423">
                                                </p>
                                                <h4>
                                                    Рюкзак и чехол райдера
                                                </h4>
                                                <p>
                                                    Отличие
                                                    <a href="http://glader.ru/content/ryukzak-dlya-snouborda.htm"
                                                       rel="nofollow"
                                                       target="_blank">
                                                        сноуборд-рюкзаков
                                                    </a>
                                                    от обычных заключается в наличии креплений для доски. Хороший рюкзак
                                                    должен
                                                    комфортно сидеть на плечах, равномерно распределять вес своего
                                                    содержимого и
                                                    быть удобным в эксплуатации.
                                                    <a href="http://glader.ru/content/chehol-dlya-snouborda.htm"
                                                       rel="nofollow"
                                                       target="_blank">
                                                        Чехол райдера
                                                    </a>
                                                    предназначен для транспортировки борда, он состоит из материала
                                                    защищающего
                                                    доску от внешних повреждений и излишней влажности. Что касается
                                                    покупки данных
                                                    атрибутов, здесь все индивидуально и каких-то дополнительных
                                                    рекомендаций нет.
                                                </p>
                                                <p>
                                                    Цена на рюкзаки на данный момент от 3 тысяч до 10 тысяч рублей, а на
                                                    чехлы то 2
                                                    тысяч до 8 тысяч рублей.
                                                </p>
                                                <h4>
                                                    Известные производители экипировки для катания на сноуборде
                                                </h4>
                                                <p>
                                                    На сегодняшний день самым известным брендом является фирма Burton.
                                                    Она была
                                                    создана в 1977 году Джейком Бёртоном. Burton оказала большое влияние
                                                    на
                                                    популяризацию сноуборда, а выпускаемое фирмой снаряжение – это залог
                                                    качества и
                                                    надежности в сочетании с комфортом. Многие профессионалы пользуются
                                                    именно
                                                    Burton. Однако за громкое имя придется выложить крупную сумму, так
                                                    как это самый
                                                    дорогой производитель оборудования.
                                                </p>
                                                <p>
                                                    На втором месте по популярности находится молодая компания Ride
                                                    Snowboards,
                                                    основанная в 1992 году. Несмотря на молодость, она завоевала одно из
                                                    лидирующих
                                                    мест среди производителей досок для катания. Борды и спортивная
                                                    одежда от Ride
                                                    Snowboards используется как в среде профессионалов, так и в среде
                                                    новичков.
                                                </p>
                                                <p>
                                                    <img src="http://img-fotki.yandex.ru/get/6443/19044756.1bb/0_daf41_416f85ba_orig"
                                                         style="width: 630px; height: 419px;" width="630" height="419">
                                                </p>
                                                <p>
                                                    Еще один отличный бренд – это Flow. Он отлично себя зарекомендовал
                                                    на рынке, а
                                                    крепления и ботинки от этой фирмы славятся своей надежностью и
                                                    прочностью во
                                                    всем мире. Flow в отличии от конкурентов использует в создании
                                                    снаряжения
                                                    инновационные технологии высокого уровня, а также взаимодействуют с
                                                    лучшими
                                                    райдерами.
                                                </p>
                                                <p>
                                                    На российском рынке можно выделить компанию Atom. Она основана в
                                                    2000 году и
                                                    сначала специализировалась на выпуске велосипедов. На сегодняшний
                                                    день Atom
                                                    выпускает качественную и недорогую экипировку, является лидером
                                                    среди российских
                                                    фирм-производителей. Снаряжение от этой компании отлично подойдет
                                                    начинающим
                                                    сноубрдистам и тем, кто только планирует начать кататься на доске.
                                                </p>
                                                <p>
                                                    <iframe allowfullscreen=""
                                                            src="https://www.youtube.com/embed/Ar3mJVZSvB4"
                                                            width="420" height="315" frameborder="0">
                                                    </iframe>
                                                </p>
                                                <p></p>
                                            </div>

                                            <div class="b-relative-posts">
                                                <div class="b-relative-posts_title">Еще почитать:</div>

                                                <table class="b-category_body">
                                                    <tbody>
                                                    <tr>

                                                        <td class="b-category_post">
                                                            <a href="/ekipirovka/kak-syekonomity-pri-pokpke-snoborda.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                                <div class="b-category_post_img"><img
                                                                        src="http://img-fotki.yandex.ru/get/62627/19044756.1c1/0_e4bcd_b3b50235_S"
                                                                        alt="Как сэкономить при покупке сноуборда">
                                                                </div>
                                                                <div class="b-category_post_title">Как сэкономить при
                                                                    покупке
                                                                    сноуборда
                                                                </div>
                                                                <div class="b-category_post_abstract">Полезные советы
                                                                </div>
                                                            </a>
                                                        </td>

                                                        <td class="b-category_post">
                                                            <a href="/ekipirovka/racii-dlya-gornolyzhnikov.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                                <div class="b-category_post_img"><img
                                                                        src="http://img-fotki.yandex.ru/get/46114/19044756.1c1/0_e3e78_e1d233fd_S"
                                                                        alt="Рации для горнолыжников"></div>
                                                                <div class="b-category_post_title">Рации для
                                                                    горнолыжников
                                                                </div>
                                                                <div class="b-category_post_abstract">Как общаться на
                                                                    склоне
                                                                </div>
                                                            </a>
                                                        </td>

                                                        <td class="b-category_post">
                                                            <a href="/ekipirovka/vybiraem-snobord.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                                <div class="b-category_post_img"><img
                                                                        src="http://img-fotki.yandex.ru/get/45245/19044756.1c0/0_e1dd0_c5f07380_S"
                                                                        alt="Выбираем сноуборд"></div>
                                                                <div class="b-category_post_title">Выбираем сноуборд
                                                                </div>
                                                                <div class="b-category_post_abstract">Правила подбора от
                                                                    наших
                                                                    партнеров
                                                                </div>
                                                            </a>
                                                        </td>

                                                        <td class="b-category_post">
                                                            <a href="/ekipirovka/pervyj-droneboarding.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                                <div class="b-category_post_img"><img
                                                                        src="http://img-fotki.yandex.ru/get/42991/19044756.1c0/0_e14ca_5b7f1bfc_S"
                                                                        alt="Первый DroneBoarding"></div>
                                                                <div class="b-category_post_title">Первый
                                                                    DroneBoarding
                                                                </div>
                                                                <div class="b-category_post_abstract">На сноуборде за
                                                                    квадрокоптером!
                                                                </div>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>


                                            <div style="clear:both"></div>
                                            <br>


                                        </div>
                                    </div>
                                </div>


                            </td>

                        </tr>
                        </tbody>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


</body>
{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>
</html>
{%endblock%}
