{% extends 'products/base.html'%}

{%block css%}
<link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}

<!-- Page Content -->
<section>
    <div class="b-container">
        <div class="b-head-ill_left">
            <div class="b-head-ill_right">
                <table class="l-head">
                    <tbody>
                    <tr>
                        <td class="l-head-g"><i></i></td>
                        <td class="l-head-l">
                            <div class="sticky-navigation-container">
                                <div class="sticky-wrapper" style="height: 60px;">
                                    <div class="sticky-navigation stuck">


                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="l-head-g"><i></i></td>
                    </tr>
                    </tbody>
                </table>


                <tbody>
                <tr>
                    <td class="l-page-g"><i></i></td>
                    <td class="l-page-l">

                        <div class="b-page-title"><h1>Маска для сноуборда </h1></div>


                        <div style="clear:both">
                            <div class="b-feed b-post">
                                <div class="item">
                                    <div class="text g-line b-post_content">
                                        <p>


                                        </p>
                                        <p>
                                            Начинающий сноубордист должен понимать то, в чем не сомневаются
                                            профессионалы: без качественной экипировки спуск по крутым склонам
                                            превращается в безумную затею. В экстремальных видах спорта и так высок риск
                                            травматизма. Зачем усугублять ситуацию, доводя ее до абсурда?
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/3503/19044756.1b9/0_daf06_8c6eec31_orig"
                                                 style="width: 617px; height: 352px;" width="617" height="352">
                                        </p>
                                        <p>
                                            Специальная система защиты поможет избежать несчастных случаев или сведет к
                                            минимуму их последствия. С ними катания станут безопасными для глаз и
                                            головы. А если существует возможность пользоваться камерой, так это ещё и
                                            очень полезно!
                                        </p>
                                        <h4>
                                            Зачем она нужна?
                                        </h4>
                                        <p>
                                            Чтобы предотвратить черепно-мозговую травму, разрывы связок, новички готовы
                                            отдать немалую сумму в спортивном магазине за защиту. При этом начинающие
                                            спортсмены несерьезно относятся к покупке менее нужного, по их мнению,
                                            аксессуара – маске (очкам). А ведь она крайне необходима.
                                        </p>
                                        <p>
                                            Для чего она нужна? Некоторые модели имеют встроенные линзы, улучшающие
                                            видимость для глаз при плохих погодных условиях. В основном же основная
                                            функциональная нагрузка аксессуара – защита глаз:
                                        </p>
                                        <p>
                                            • от механических травм, вызванных попаданием снега, грязи, мелких камней,
                                            песка;
                                        </p>
                                        <p>
                                            • от ультрафиолетового излучения, более сильного в горах, пагубно
                                            воздействующего на сетчатку.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/9260/19044756.1b9/0_daf07_1f8e4362_orig"
                                                 style="width: 541px; height: 361px;" width="541" height="361">
                                        </p>
                                        <h4>
                                            Что выбрать?
                                        </h4>
                                        <p>
                                            По сути, сноубордическая маска и очки для сноуборда – один и тот же товар.
                                            Внешне маски для сноуборда выглядят, как очки, затягиваются с помощью
                                            ремешка, имеют линзы разных конструкций. Иногда различают по принципу
                                            возможности носить с шлемом. Предполагается, что маску надевают под шлем, а
                                            при поднятии вверх он удерживает ее.
                                        </p>
                                        <p>
                                            Для людей с проблемами зрения выпускается два вида продукции: универсальные
                                            маски, под которые надеваются обычные очки, и маски стандартного вида с
                                            адаптером.
                                        </p>
                                        <p>
                                            Первый вариант идет с маркировкой OTG. Маска просторней, чем обычная, имеет
                                            крепления для очков. Второй внешне выглядит, как обычно, адаптер в комплекте
                                            или приобретается самостоятельно. Его отдают в оптику, чтобы специалисты
                                            «подогнали» под необходимое число диоптрий.
                                        </p>
                                        <p>
                                            Нет нужды говорить, что специальная маска (в частности, со встроенной
                                            камерой) будет стоить дороже, чем стандартная модель. Но это именно тот
                                            случай, когда на себе нельзя экономить. Ведь речь будет идти как о комфорте,
                                            так и о безопасности!
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/15542/19044756.1ba/0_daf0f_2d82fe8d_orig"
                                                 style="width: 549px; height: 392px;" width="549" height="392">
                                        </p>
                                        <h4>
                                            Модель имеет значение
                                        </h4>
                                        <p>
                                            Если утверждение, что глазам нужна защита, не вызывает сомнения, остается
                                            упомянуть об ошибке, которую допускают новички при покупке маски. Выбирая
                                            модель, многие забывают о важности угла обзора.
                                        </p>
                                        <p>
                                            Для сноуборда чем он шире, тем лучшие модели. Горнолыжные очки для глаз не
                                            подойдут. Их конструкция предполагает ограничение периферийного зрения, что
                                            чревато для сноубордиста травмами и возникновением непредвиденных ситуаций
                                            на крутых склонах.
                                        </p>
                                        <h4>
                                            Некоторые детали
                                        </h4>
                                        <p>
                                            Маски для сноубординга купить нетрудно, ведь продаётся их очень много.
                                            Казалось бы, многообразие должно затруднить выбор очков для сноуборда,
                                            однако это не совсем так. Несмотря на кажущееся многообразие масок,
                                            предлагаемых для катания производителями спортивных товаров, все маски для
                                            сноуборда по типам оправ можно условно разделить на три класса:
                                        </p>
                                        <p>
                                            • общий: представлен разными формами, размерами и дизайном, адаптирован под
                                            анатомические особенности лица взрослого мужчины;
                                        </p>
                                        <p>
                                            • женский: меньшей ширины, с оригинальным внешним оформлением;
                                        </p>
                                        <p>
                                            • детский: малого размера.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/6605/19044756.1ba/0_daf10_f102f33a_orig"
                                                 style="width: 602px; height: 335px;" width="602" height="335">
                                        </p>
                                        <p>
                                            Стандартная маска (очки для глаз) представляет собой фильтры, смонтированные
                                            с оправой, и ремешок для крепления.
                                            <span>
                                            </span>
                                        </p>
                                        <h4>
                                            На что обратить внимание
                                        </h4>
                                        <p>
                                            Давайте посмотрим, как правильно выбрать маску для сноуборда.
                                        </p>
                                        <p>
                                            Чтобы не травмировать лицо, оправа выбирается высокого качества,
                                            изготовленная из прочного, эластичного материала, устойчивого к перепадам
                                            температуры и ударостойкого. Обязательно наличие пористой многослойной
                                            подкладки, контактирующей с кожей.
                                        </p>
                                        <p>
                                            Решая, как подобрать маску, обращайте внимание на линзы. Определяющим
                                            фактором при выборе маски остаются форма и качество линз. Они могут быть
                                            прямыми, дуговыми и сферическими:
                                        </p>
                                        <p>
                                            • прямые: ушли в прошлое, практически не попадаются в магазинах;
                                        </p>
                                        <p>
                                            • дуговые: обходятся дешевле сферических, имеют существенный недостаток –
                                            искажают изображение при периферическом обзоре;
                                        </p>
                                        <p>
                                            • сферические: по сути, являются сегментом шара, благодаря дуговому профилю
                                            по вертикали и горизонтали обеспечивают оптимальную видимость. Стоят дороже.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/16165/19044756.1ba/0_daf0c_90c990c0_orig"
                                                 style="width: 573px; height: 325px;" width="573" height="325">
                                        </p>
                                        <p>
                                            Другая важнейшая характеристика – материал. В основном фильтры производятся
                                            из качественного поликарбоната, пластичного, устойчивого к нагрузкам.
                                            Единственный минус – от механических повреждений на нем остаются мелкие
                                            сколы. Защищают линзы дополнительные слои. Основным каноном ударостойкости
                                            считается формат ANSI Z87.1. На него и ориентируются при выборе маски для
                                            катания.
                                        </p>
                                        <p>
                                            Глаза нуждаются в защите от УФ-лучей. В горах солнце светит агрессивней,
                                            разреженная атмосфера пропускает больший спектр излучения, это может быть
                                            опасно для глаз. При ярком солнечном освещении возрастает риск травмирования
                                            сетчатки за счет слепящего отраженного света. Отсечь негативные факторы
                                            позволяют линзы, соответствующие основному стандарту EN 174.
                                        </p>
                                        <p>
                                            Маска для сноуборда может иметь различные уровни защиты. Они условно
                                            подразделяются:
                                        </p>
                                        <p>
                                            • нулевой, рекомендован при искусственном освещении;
                                        </p>
                                        <p>
                                            • первый, подходит для пасмурной погоды;
                                        </p>
                                        <p>
                                            • второй (средняя солнечная активность, переменная облачность);
                                        </p>
                                        <p>
                                            • третий (солнечная погода);
                                        </p>
                                        <p>
                                            • четвертый (высокий, рекомендован для подъемов более чем на 2000 м).
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/3814/19044756.1ba/0_daf13_76d7a4c5_orig"
                                                 style="width: 573px; height: 381px;" width="573" height="381">
                                        </p>
                                        <p>
                                            Как подобрать маску? Приобретая её, руководствуются условиями, при которых
                                            придется кататься. Учитывая, что фильтры можно менять, покупают их нужное
                                            количество. Цвет линз определяет не только их эстетичность, но и
                                            функциональность, влияет на качество обзора:
                                        </p>
                                        <p>
                                            • прозрачные – без защиты;
                                        </p>
                                        <p>
                                            • жёлтые, золотые – усиливают контрастность при плохом освещении, не
                                            пропускают голубую часть солнечного спектра;
                                        </p>
                                        <p>
                                            • розовые – подчеркивают объемность;
                                        </p>
                                        <p>
                                            • черные – смягчают яркость;
                                        </p>
                                        <p>
                                            • зеленые – снижают контрастность;
                                        </p>
                                        <p>
                                            • зеркальные – смягчают блики;
                                        </p>
                                        <p>
                                            • хамелеоны – подстраиваются под интенсивность света.
                                        </p>
                                        <p>
                                            В маске обязательна защита от запотевания. Проблема решается производителями
                                            за счет установки двойных линз с прослойкой воздуха между ними,
                                            вентиляционных отверстий, систем регулирования воздушных потоков.
                                            <span>
                                            </span>
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/5102/19044756.1ba/0_daf12_fc3e30d2_orig"
                                                 style="width: 582px; height: 286px;" width="582" height="286">
                                        </p>
                                        <h4>
                                            Как выбрать маску или очки?
                                        </h4>
                                        <p>
                                            Маска для сноуборда доступна каждому потребителю. При выборе руководствуются
                                            ценовым диапазоном и особенностями фильтров. Заранее уточняют у продавца
                                            возможность их замены (удобно приобрести сразу комплект). Очертив круг
                                            понравившихся моделей, приступают к примерке. Обращают внимание на следующие
                                            характеристики:
                                        </p>
                                        <p>
                                            • плотность прилегания без лишнего, усиленного сдавливания;
                                        </p>
                                        <p>
                                            • комфортность регулирования ее ширины ремешком;
                                        </p>
                                        <p>
                                            • широкий угол периферийного и нижнего обзора;
                                        </p>
                                        <p>
                                            возможность надевать маску со шлемом (оптимально – захватить в магазин шлем
                                            и померить вместе с маской);
                                        </p>
                                        <p>
                                            • наличие адаптеров для людей с нарушением зрения;
                                        </p>
                                        <p>
                                            • есть ли у такой маски сноуборд встроенная возможность пользоваться
                                            камерой.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/9799/19044756.1ba/0_daf11_3b32222a_orig"
                                                 style="width: 578px; height: 386px;" width="578" height="386">
                                        </p>
                                        <h4>
                                            Бюджетный или эксклюзивный вариант?
                                        </h4>
                                        <p>
                                            Конечно, решая, как выбрать очки для сноуборда, принимаешь во внимание
                                            собственные финансовые возможности. Стоимость масок и очков колеблется в
                                            разных диапазонах и зависит от дополнительных возможностей, дизайнерского
                                            оформления, бренда. Впрочем, сейчас даже известные производители наладили
                                            выпуск продукции, рассчитанной на массового покупателя.
                                        </p>
                                        <p>
                                            На рынке представлено достаточно масок и очков. Популярные бренды: Uvex,
                                            Oakley, Anon, – так что в первую очередь изучайте именно их продукцию,
                                            наверняка найдёте себе подходящий вариант, в качестве которого сможете не
                                            сомневаться. Но стоит обращать внимание и на новые товары.
                                        </p>
                                        <p>
                                            Новинками сезона считаются предложения:
                                        </p>
                                        <p>
                                            • Dragon выпустила маску APX2 (усовершенствованная копия хита прошлого года)
                                            с возможностью ускоренной смены линз;
                                        </p>
                                        <p>
                                            • Smith создает I/O7 с опцией замены линзы для глаз без контакта с нею;
                                        </p>
                                        <p>
                                            • для той же цели SPY предлагает Bravo с вмонтированной боковой кнопкой.
                                        </p>
                                        <p>
                                            В погоне за эргономичностью и нестандартными решениями фирмы расширяют
                                            возможности обычной маски за счет включения в них дополнительных устройств,
                                            что повышает стоимость защиты в разы. Прежде чем совершить покупку, следует
                                            четко определить приоритеты. И только после этого делать выбор.
                                        </p>
                                        <p>
                                            Но из таких устройств не стоит пренебрегать возможностью пользоваться
                                            камерой. Маска для сноуборда с камерой – особенно интересный вариант.
                                            Наличие камеры позволит такой маске не только стать отличной защитой для
                                            глаз, но и великолепно помочь при записи трюков. Приятных развлечений!
                                        </p>
                                        <p>
                                            <iframe allowfullscreen="" src="https://www.youtube.com/embed/s6XKxcEglVk"
                                                    width="560" height="315" frameborder="0">
                                            </iframe>
                                        </p>


                                        <p></p>
                                    </div>

                                    <div class="b-relative-posts">
                                        <div class="b-relative-posts_title">Еще почитать:</div>

                                        <table class="b-category_body">
                                            <tbody>
                                            <tr>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/kak-syekonomity-pri-pokpke-snoborda.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/62627/19044756.1c1/0_e4bcd_b3b50235_S"
                                                                alt="Как сэкономить при покупке сноуборда"></div>
                                                        <div class="b-category_post_title">Как сэкономить при покупке
                                                            сноуборда
                                                        </div>
                                                        <div class="b-category_post_abstract">Полезные советы</div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/racii-dlya-gornolyzhnikov.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/46114/19044756.1c1/0_e3e78_e1d233fd_S"
                                                                alt="Рации для горнолыжников"></div>
                                                        <div class="b-category_post_title">Рации для горнолыжников</div>
                                                        <div class="b-category_post_abstract">Как общаться на склоне
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/vybiraem-snobord.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/45245/19044756.1c0/0_e1dd0_c5f07380_S"
                                                                alt="Выбираем сноуборд"></div>
                                                        <div class="b-category_post_title">Выбираем сноуборд</div>
                                                        <div class="b-category_post_abstract">Правила подбора от наших
                                                            партнеров
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/pervyj-droneboarding.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/42991/19044756.1c0/0_e14ca_5b7f1bfc_S"
                                                                alt="Первый DroneBoarding"></div>
                                                        <div class="b-category_post_title">Первый DroneBoarding</div>
                                                        <div class="b-category_post_abstract">На сноуборде за
                                                            квадрокоптером!
                                                        </div>
                                                    </a>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>


                                    <div style="clear:both"></div>


                                </div>
                            </div>
                        </div>


                    </td>
                    <td class="l-page-g"><i>

                    </i></td>
                </tr>
                </tbody>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>

</body>

</html>
{%endblock%}


