{% extends 'products/base.html'%}

{%block css%}
    <link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}

<!-- Page Content -->
<section>
    <div class="b-container">
        <div class="b-head-ill_left">
            <div class="b-head-ill_right">
                <table class="l-head">
                    <tbody>
                    <tr>
                        <td class="l-head-g"><i></i></td>
                        <td class="l-head-l">
                            <div class="sticky-navigation-container">
                                <div class="sticky-wrapper" style="height: 60px;">
                                    <div class="sticky-navigation stuck">


                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="l-head-g"><i></i></td>
                    </tr>
                    </tbody>
                </table>



                <tbody><tr>
                    <td class="l-page-g"><i></i></td>
                    <td class="l-page-l">

                            <div class="b-page-title"><h1>Как выбрать идеальный сноуборд  </h1></div>



    <div style="clear:both">
        <div class="b-feed b-post">
        <div class="item">
            <div class="text g-line b-post_content">
                <p>
                    </p><p>
	С
наступлением зимы все сноубордисты, вне зависимости от опыта, задаются одним и
тем же вопросом.
     Всех интересует, как же
правильно выбрать сноуборд, чтобы максимально хорошо чувствовать себя на
склоне. От хорошего сноуборда зависит контроль, скорость, распределение давление
по поверхности доски – всё, что так важно и для начинающего, и для продвинутого
сноубордиста.
</p>
<p>
	На выбор
доски для сноуборда влияет множество факторов: уровень способностей
сноубордиста, предпочитаемый стиль катания, рост, вес и даже гендерные
признаки. Сноуборд для новичка будет сильно отличатся от сноуборда опытного
райдера по жесткости, длине доски, её гибкости. В этой статье мы расскажем, как
подобрать сноуборд, который подойдет именно Вам.
</p>
<h2>
Стили и
уровни катания
</h2>
<p>
	На выбор
сноуборда главным образом влияет стиль катания и опыт райдера. Те, кто только
встал на сноуборд, скорее всего, будут пробовать себя в разных стилях
	<i>
	.
	</i>
	Поэтому сноуборд для начинающих должен
обладать универсальными характеристиками и соответствовать физиологическому
строению (рост, вес).
</p>
<p>
	Райдеры,
покоряющие склоны не первый год, уже выбрали для себя подходящий стиль катания.
Им стоит присмотреться к доскам для определенного стиля катания, которые
обладают специфическими характеристиками. Опытные сноубордисты, уже знакомые с
особенностями разных досок, могут углубиться в детали, чтобы понять, как особенности
строения доски, её форма влияет на спуск и исполнение трюков.
</p>
<p>
	Выделяют
несколько основных характеристик сноуборда:
</p>
<p>
	·
    Длина;
</p>
<p>
	·
    Ширина;
</p>
<p>
	·
    Форма;
</p>
<p>
	·
    Жесткость,
</p>
<p>
	·
    Форма
отверстия для
крепления.
</p>
<p>
	Такие
характеристики как изгиб доски, материал доски, форма канта, особенность
строения не являются превалирующими. Они имеют значение в том случае, если
необходимо откорректировать трюки или езду, сделать их более четкими. Новичкам
не стоит обращать на них никакого внимания. Вы даже не почувствуете различия
при спуске на таких досках.
</p>
<p>
	<span style="background-color: rgb(251, 213, 181);">
	<span style="color: #953734;">
	При выборе доски в соответствии с вашими
потребностями и комплекцией важно помнить, что технические характеристики
сноуборда зависят от фирмы производителя. Одна и та же шкала будет иметь разные
значения у фирм «Burton» и «К2». Также одна и та же модель может обладать
разными характеристиками в зависимости от года выпуска.
	</span>
	</span>
</p>
<p>
	Рейтинг лучших фирм производителей сноубордов
варьируется в зависимости от сезона и издания. В список лучших фирм, в
основном, входят пионеры производители сноубордов: Burton, Lib Tech, GNU,
K2.
</p>
<h3>
All mountain
</h3>
<p>
	All-mountain (с англ. «вся гора») -
     это универсальный стиль катания, подходящий для тех, кто хочет испробовать
всё, что предлагает гора – и спуски, и трюки. Доска такого типа подходит для
тех, кто не хочет ограничиваться чем-то одним и желает попробовать все – прыжки
в парке, трюки на трамплинах или же скольжение по мягкому снегу. Сноуборд для
данного стиля может быть любой формы, любого размера и любой направленности
(твин тип или направленный).Такие
доски больше всего подходят новичкам, так как их универсальность позволяет
кататься на любой поверхности, до тех пор пока они выберут один стиль катания.
</p>
<h3>
Freestyle
</h3>
<p>
	Прыжки,
трюки, грэбы (захват доски при прыжке) – в этом весь фристайл (с англ.
freestyle – «свободный стиль»). Если простые спуски Вам надоели, и хочется
новых ощущений, значит Вам нужно попробовать себя в фристайле. Данный стиль
позволяет проявить все свои акробатические способности, так как человек без
физической подготовки, вряд ли сможет выполнить даже самые простые трюки.
</p>
<p>
	Сноуборд для
фристайла должен быть немного меньше, чем подходящая вам длина. Это позволит
лучше управлять доской при исполнении трюков. Во избежание поломок доска должна
обладать средней гибкостью и быть достаточно мягкой, так как она подвергается
частым ударам и столкновениям. Неправильно подобранная жесткость превратит ваш
сноуборд в груду щепок уже после первого прыжка.
</p>
<iframe allowfullscreen="" src="//www.youtube.com/embed/J_jcark5INI?rel=0" width="640" height="360" frameborder="0">
</iframe>
<h3>
Freeride
</h3>
<p>
	Если вы
считаете, что кататься нужно в одиночестве и вдалеке от ухоженных и
переполненных склонов, то Вы настоящий фанат фрирайда (с англ. freeride –
«свободная езда»). Данный стиль предполагает катание по мягкому снегу (или
пухляку) среди деревьев на склонах гор, вдалеке от туристических парков.
Сноуборд для фрирайда должен быть жестким, для обеспечения устойчивости при
спуске со склона. Вся его поверхность должна соприкасаться с землей, а длина
быть на несколько сантиметров больше вашего стандартного размера доски. Это
помогает распределить давление веса тела по всей поверхности доски, что очень
важно для «дикого» снега. Важно, чтобы нос сноуборда для фрирайда был загнут,
чтобы не втыкаться в мягкий снег и легко скользить по склону.
</p>
<p>
	<iframe allowfullscreen="" src="//www.youtube.com/embed/hMvsU_rXVlw?rel=0" width="640" height="360" frameborder="0">
	</iframe>
</p>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1456125887637-0'); });
<p>
	Стоит помнить, что данная классификация стилей
и подходящих для них досок – это лишь исходная точка. Сноуборды также могут включать
характеристики, подходящие для разных стилей - например, доска для фристайла и
олмаунтэйна (универсальная) одновременно. Выбор одного предпочитаемого стиля
катания – один из важнейших пунктов при выборе доски, который сможет приблизить
вас к приобретению идеальной доски.
</p>
<h2>
Длина доски
</h2>
<p>
	Существует
большое количество способовкак подобрать
ростовку сноуборда. У каждого свои взгляды на выбор сноуборда по росту и весу.
Одни до сих пор используют классический метод: в вертикальном положении (край
доски касается земли) сноуборд должен доставать вам до подбородка, другие –
различные формулы для вычисления его длины. Чтобы подобрать подходящий размер сноуборда
не стоит забывать и о стиле катания - для фристайла сноуборд должен быть короче
предполагаемого размера, для фрирайда – длиннее.
</p>
<h3>
Выбор доски в соотношении с вашим весом
</h3>
<p>
	Ваш вес –
это важный фактор, на который всегда необходимо ориентироваться при выборе
доски. Доска, которая прекрасно соотносится с весом вашего тела не позволит
потерять контроль во время езды и даст шанс проявить себя. Если райдер
приобретает доску короче, чем требуется при его весе, то на высоких скоростях
доска будет неконтролируема. Но может происходить и наоборот: Райдеру будет
сложно управлять доской, если она будет длиннее, чем требует его весовая
категория.
</p>
<p>
	<span style="background-color: rgb(253, 234, 218);">
	Еще раз напоминаем, что необходимо
ориентироваться только на характеристики указанные на доске, т.к. в зависимости
от производителя они могут существенно отличаться.
	</span>
</p>
<table>
<tbody>
<tr>
	<td colspan="2">
		<p>
			<strong>
			Ваш вес (в фунтах)
			</strong>
		</p>
	</td>
	<td colspan="2">
		<p>
			<strong>
			Ваш вес (в килограммах)
			</strong>
		</p>
	</td>
	<td colspan="2">
		<p>
			<strong>
			Размер доски (в сантиметрах)
			</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			<strong>
			от
			</strong>
		</p>
	</td>
	<td>
		<p>
			<strong>
			до
			</strong>
		</p>
	</td>
	<td>
		<p>
			<strong>
			от
			</strong>
		</p>
	</td>
	<td>
		<p>
			<strong>
			до
			</strong>
		</p>
	</td>
	<td>
		<p>
			<strong>
			от
			</strong>
		</p>
	</td>
	<td>
		<p>
			<strong>
			до
			</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
	</td>
	<td>
		<p>
			50
		</p>
	</td>
	<td>
	</td>
	<td>
		<p>
			23
		</p>
	</td>
	<td>
		<p>
			90
		</p>
	</td>
	<td>
		<p>
			100
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			50
		</p>
	</td>
	<td>
		<p>
			60
		</p>
	</td>
	<td>
		<p>
			23
		</p>
	</td>
	<td>
		<p>
			27
		</p>
	</td>
	<td>
		<p>
			105
		</p>
	</td>
	<td>
		<p>
			115
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			60
		</p>
	</td>
	<td>
		<p>
			70
		</p>
	</td>
	<td>
		<p>
			27
		</p>
	</td>
	<td>
		<p>
			32
		</p>
	</td>
	<td>
		<p>
			115
		</p>
	</td>
	<td>
		<p>
			125
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			70
		</p>
	</td>
	<td>
		<p>
			80
		</p>
	</td>
	<td>
		<p>
			32
		</p>
	</td>
	<td>
		<p>
			36
		</p>
	</td>
	<td>
		<p>
			125
		</p>
	</td>
	<td>
		<p>
			135
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			80
		</p>
	</td>
	<td>
		<p>
			90
		</p>
	</td>
	<td>
		<p>
			36
		</p>
	</td>
	<td>
		<p>
			41
		</p>
	</td>
	<td>
		<p>
			135
		</p>
	</td>
	<td>
		<p>
			140
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			90
		</p>
	</td>
	<td>
		<p>
			100
		</p>
	</td>
	<td>
		<p>
			41
		</p>
	</td>
	<td>
		<p>
			45
		</p>
	</td>
	<td>
		<p>
			138
		</p>
	</td>
	<td>
		<p>
			144
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			100
		</p>
	</td>
	<td>
		<p>
			110
		</p>
	</td>
	<td>
		<p>
			45
		</p>
	</td>
	<td>
		<p>
			50
		</p>
	</td>
	<td>
		<p>
			140
		</p>
	</td>
	<td>
		<p>
			146
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			110
		</p>
	</td>
	<td>
		<p>
			120
		</p>
	</td>
	<td>
		<p>
			50
		</p>
	</td>
	<td>
		<p>
			54
		</p>
	</td>
	<td>
		<p>
			142
		</p>
	</td>
	<td>
		<p>
			148
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			120
		</p>
	</td>
	<td>
		<p>
			130
		</p>
	</td>
	<td>
		<p>
			54
		</p>
	</td>
	<td>
		<p>
			59
		</p>
	</td>
	<td>
		<p>
			144
		</p>
	</td>
	<td>
		<p>
			149
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			130
		</p>
	</td>
	<td>
		<p>
			140
		</p>
	</td>
	<td>
		<p>
			59
		</p>
	</td>
	<td>
		<p>
			63
		</p>
	</td>
	<td>
		<p>
			146
		</p>
	</td>
	<td>
		<p>
			152
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			140
		</p>
	</td>
	<td>
		<p>
			150
		</p>
	</td>
	<td>
		<p>
			63
		</p>
	</td>
	<td>
		<p>
			68
		</p>
	</td>
	<td>
		<p>
			148
		</p>
	</td>
	<td>
		<p>
			154
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			150
		</p>
	</td>
	<td>
		<p>
			160
		</p>
	</td>
	<td>
		<p>
			68
		</p>
	</td>
	<td>
		<p>
			73
		</p>
	</td>
	<td>
		<p>
			151
		</p>
	</td>
	<td>
		<p>
			157
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			160
		</p>
	</td>
	<td>
		<p>
			170
		</p>
	</td>
	<td>
		<p>
			73
		</p>
	</td>
	<td>
		<p>
			77
		</p>
	</td>
	<td>
		<p>
			152
		</p>
	</td>
	<td>
		<p>
			158
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			170
		</p>
	</td>
	<td>
		<p>
			180
		</p>
	</td>
	<td>
		<p>
			77
		</p>
	</td>
	<td>
		<p>
			82
		</p>
	</td>
	<td>
		<p>
			153
		</p>
	</td>
	<td>
		<p>
			159
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			180
		</p>
	</td>
	<td>
		<p>
			190
		</p>
	</td>
	<td>
		<p>
			82
		</p>
	</td>
	<td>
		<p>
			86
		</p>
	</td>
	<td>
		<p>
			155
		</p>
	</td>
	<td>
		<p>
			161
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			190
		</p>
	</td>
	<td>
		<p>
			200
		</p>
	</td>
	<td>
		<p>
			86
		</p>
	</td>
	<td>
		<p>
			91
		</p>
	</td>
	<td>
		<p>
			157
		</p>
	</td>
	<td>
		<p>
			163
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			200
		</p>
	</td>
	<td>
		<p>
			210
		</p>
	</td>
	<td>
		<p>
			91
		</p>
	</td>
	<td>
		<p>
			95
		</p>
	</td>
	<td>
		<p>
			158
		</p>
	</td>
	<td>
		<p>
			165
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			210
		</p>
	</td>
	<td>
		<p>
			220
		</p>
	</td>
	<td>
		<p>
			95
		</p>
	</td>
	<td>
		<p>
			100
		</p>
	</td>
	<td>
		<p>
			159
		</p>
	</td>
	<td>
		<p>
			167
		</p>
	</td>
</tr>
<tr>
	<td>
		<p>
			220
		</p>
	</td>
	<td>
	</td>
	<td>
		<p>
			100
		</p>
	</td>
	<td>
	</td>
	<td>
		<p>
			160
		</p>
	</td>
	<td>
		<p>
			168
		</p>
	</td>
</tr>
</tbody>
</table>
<h3>
Выбор доски в соотношении с вашим ростом
</h3>
<p>
	Рост – это
первый критерий, который приходит в голову, когда задумываешься о выборе длины
доски, но данный метод не является универсальным и точным. Несмотря на это,
люди измеряли и будут измерять длину доски по этому принципу, но разными
путями. За годы появилось несколько методов определения длины сноуборда по
росту.
</p>
<p>
	1.
    Традиционный метод гласит, что
верхушка укороченного варианта доски, при её вертикальном положении, должна
находится в промежутке между ключицами и подбородком. Такая доска отлично
подойдет новичкам и фристайлерам из-за возможности большего контроля.
</p>
<p>
	2.
    Удлинённая доска, которая хороша для
пухляка и высоких скоростей, в вертикальном положении должна заканчиваться выше
вашего носа или даже выше макушки.
</p>
<p>
	3.
    Существует формула расчета длины
доски, исходя из вашего роста в дюймах.
	<i>
	Ваш
рост в дюймах*2,54*0,88=Предполагаемая длина сноуборда,
	</i>
	результаты расчета
по данной формуле вы также можете посмотреть в таблице ниже. Но не стоит
полностью полагаться на эту формулу, её можно взять в качестве отправной точки
для расчета длины сноуборда.
</p>
<p>
	<strong>
	Таблица размеров
сноуборда, в соответствии с ростом райдера
	</strong>
</p>
<p>
	<i>
	Ваш рост в дюймах*2,54*0,88=Предполагаемая длина
сноуборда
	</i>
</p>
<p>
	<table>
	<tbody>
	<tr>
		<td colspan="2">
			<p>
				Рост
  райдера
			</p>
		</td>
		<td>
			<p>
				Размер
  доски
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				Дюймы
			</p>
		</td>
		<td>
			<p>
				Сантиметры
			</p>
		</td>
		<td>
			<p>
				Сантиметры
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				3’7’’
			</p>
		</td>
		<td>
			<p>
				109
			</p>
		</td>
		<td>
			<p>
				90-105
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				4’1’’
			</p>
		</td>
		<td>
			<p>
				124
			</p>
		</td>
		<td>
			<p>
				110-120
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				4’6’’
			</p>
		</td>
		<td>
			<p>
				137
			</p>
		</td>
		<td>
			<p>
				115-130
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				4’10’’
			</p>
		</td>
		<td>
			<p>
				147
			</p>
		</td>
		<td>
			<p>
				125-135
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’1’’
			</p>
		</td>
		<td>
			<p>
				155
			</p>
		</td>
		<td>
			<p>
				130-140
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’3’’
			</p>
		</td>
		<td>
			<p>
				160
			</p>
		</td>
		<td>
			<p>
				135-145
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’4’’
			</p>
		</td>
		<td>
			<p>
				163
			</p>
		</td>
		<td>
			<p>
				140-150
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’5’’
			</p>
		</td>
		<td>
			<p>
				165
			</p>
		</td>
		<td>
			<p>
				145-152
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’6’’
			</p>
		</td>
		<td>
			<p>
				168
			</p>
		</td>
		<td>
			<p>
				148-153
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’7’’
			</p>
		</td>
		<td>
			<p>
				170
			</p>
		</td>
		<td>
			<p>
				150-155
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’8’’
			</p>
		</td>
		<td>
			<p>
				173
			</p>
		</td>
		<td>
			<p>
				152-155
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’9’’
			</p>
		</td>
		<td>
			<p>
				175
			</p>
		</td>
		<td>
			<p>
				153-157
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’10’’
			</p>
		</td>
		<td>
			<p>
				178
			</p>
		</td>
		<td>
			<p>
				154-159
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				5’11’’
			</p>
		</td>
		<td>
			<p>
				180
			</p>
		</td>
		<td>
			<p>
				155-160
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				6’
			</p>
		</td>
		<td>
			<p>
				183
			</p>
		</td>
		<td>
			<p>
				156-162
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				6’1’’
			</p>
		</td>
		<td>
			<p>
				185
			</p>
		</td>
		<td>
			<p>
				157-163
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				6’2’’
			</p>
		</td>
		<td>
			<p>
				188
			</p>
		</td>
		<td>
			<p>
				158-166
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				6’3’’
			</p>
		</td>
		<td>
			<p>
				191
			</p>
		</td>
		<td>
			<p>
				159-167
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				6’4’’
			</p>
		</td>
		<td>
			<p>
				193
			</p>
		</td>
		<td>
			<p>
				160-170
			</p>
		</td>
	</tr>
	</tbody>
	</table>
</p>
<h2>
Ширина доски
</h2>
<p>
	Ключевой критерий в размерах
сноуборда, который постоянно ускользает от нашего внимания – это его ширина.
Ширина определяется по самому широкому месту доски (обычно по центру) и должна
соответствовать размеру вашей обуви. Лучше всего, когда края вашего ботинка
лишь слегка выходят за пределы доски, слишком узкая или широкая доска может
вызвать неприятности. Размер сноуборда играет важную роль, потому что позволяет
достигать максимального контроля над краями и избегать заносов носа и хвоста
сноуборда.
</p>
<p>
	Если сноуборд слишком узкий, то
потеря контроля происходит из-за заноса носа или хвоста сноуборда. Но также это
может происходить и по другим причинам, что можно устранить более точной
регулировкой крепления или же выбором ботинок с меньшей площадью подошвы
	.
	Ширина
доски является важной характеристикой, о которой не стоит забывать при покупке
сноуборда.
</p>
<h2>
Форма доски
</h2>
<p>
	Управляемость
доски напрямую зависит от её формы. Правильная форма будет максимально помогать
скольжению по поверхности, на которой вы катаетесь. Доски для фристайла,
предназначенные для прыжков, скольжений и трамплинов преимущественно имеют
форму твин-тип (twin-tip, от англ. «тяни-толкай»). Универсальные сноуборды и
борды для фрирайда имеют либо направленную, либо твин-направленную форму.
</p>
<p>
	<strong>
	Направленные (directional)
	</strong>
</p>
<p>
	Наиболее
подходящая для фрирайда и, иногда, для all-mountain форма сноуборда, имеет
ассиметричную форму. Такая форма позволяет двигаться только в одном
направлении, что обусловлено специфичными формами носа и хвоста доски, которые
могут отличатся также по степени жесткости, точками соприкосновения со снегом.
Хвост направленных досок обычно жестче, чем нос, что обеспечивает стабильность
и устойчивость при езде вниз с горы. Нос таких досок больше загнут, что
позволяет избежать «втыкания» в пухляк (мягкий снег) при спуске.
</p>
<p>
	Твин тип (tween tip)
</p>
<p>
	Несмотря на
то, что такая форма распространена среди сноубордов любого стиля езды, она
преимущественно используется для фристайла. В самом названии отражено, что
данного типа доски симметричны, то есть имеют одинаковую форму носа и хвоста.
Обладая одинаковыми характеристиками гибкости, жесткости носа и хвоста
твин-типы позволяют фристайлерам уверенно и технично выполнять трюки, легко
переключаясь с одной поверхности на другую и двигаясь в любом направлении.
</p>
<p>
	Твин-направленные (
     Directional
     twin
     )
</p>
<p>
	Твин-направленная
форма– идеальна для доски, подходящей абсолютно для любого стиля катания.
Особенность данной формы в том, что нос и хвост доски имеют различную
конструкцию, но райдеры могут не замечать этого различия при езде. Обычно нос
такой доски немного длиннее хвоста, а также может обладать меньшей жесткостью.
Дополнительная длина носа дает вам преимущества при езде на пухляке, а более
жесткий хвост позволяет чувствовать стабильность при больших скоростях.
</p>
<h2>
Изгиб доски
</h2>
<p>
	Изгиб доски
определяется по отношению к поверхности, то есть если посмотреть на доску со
стороны - легко определить какую форму она имеет. Существует несколько видов
профиля, каждый из которых предназначен для разных целей. Помимо основных форм
профиля, используются различные гибриды, имеющие свою специфическую цель
использования.
</p>
<p>
	Итак,
выделяют следующие формы профиля сноубордов:
</p>
<p>
	·
    Кэмбер (camber) – традиционная форма
сноуборда, подходящая для всех стилей езды, которая имеет изгиб по центру.
Когда райдер встает на доску, она выравнивается, создавая равномерное давление
на всей площади.
</p>
<p>
	·
    Рокер (в жаргоне банан) (rocker) –
самая популярная форма доски для любителей фристайла и езды по пухляку. Данный
тип имеет центральную точку соприкосновения с землей, что создает меньший
контакт носа и хвоста с поверхностью.
</p>
<p>
	·
    Плоская доска (flat) – данная форма идеально подходит
для фристайла, совмещая в себе характеристики банана и традиционный для кэмбера
кант.
</p>
<p>
	·
    Гибриды – существует большое
количество различных гибридов, имеющих изгибы в разных частях доски. Такие
сноуборды предназначены для специфических целей и позволяют откорректировать
частные характеристики езды, например скорость или более четкое выполнение
трюков.
</p>
<h2>
Жесткость сноуборда</h2>
<p>
	Жесткость
доски еще один важный фактор, зависящий от стиля катания: от неё зависит
возможность прогиба доски и поворотов на ней. Выделяют три степени жесткости –
высокая, средняя и низкая. Каждый райдер выбирает себе доску в соответствии со
своими персональными предпочтениями. *Но существуют общие рекомендации о
соотношении жесткости и стиля катания.
</p>
<p>
	Доски
высокой жесткости подходят для фрирайда, так как придают устойчивость при
высоких скоростях. Также такая доска способствуют более хорошему сцеплению с
поверхностью. Средняя жесткость хороша для всех типов езды. Такие доски
используют и для фристайла, и для фрирайда. Мягкие доски будут в самый раз для
фристайла, они легче сгибаются при выполнении трюков и скольжении по
поверхностям, что позволяет легче контролировать траекторию своего движения.
</p>
<p>
	Для обозначения жесткости производители
используют шкалу от 1 до 10, где 1 обозначает мягкость, а 10 – жесткость. У
каждого производителя шкала жесткости разная. Одна и та же цифра, казалось бы
одной шкалы, отличается. Так нельзя соотносить шкалу жесткости у Burton и LibTech.
</p>

<h2>
Крепление
</h2>
<p>
	Существуют
разные виды крепления ботинок к сноубордам: 4 X 4, 2 X 4, Бёртоновские 3D и слайдеры. Самые распространенные
крепления – это 4 X 4, 2 X 4, которые используются большинством производителей
сноубордов. Отверстия в креплении 4 X 4 расположены на расстоянии четырех
сантиметров друг от друга как по вертикали, так и по горизонтали. Крепление 2 X
4 означает, что отверстия находятся на расстоянии четырех сантиметров друг от
друга по горизонтали и двух сантиметров – по вертикали. Большая частота наличия
отверстий позволяет наиболее чётко отрегулировать положение ноги на доске, в
соответствии с желаниями райдера.
</p>
<p>
	Производители
досок Burton запатентовали свои крепления 3D, в которых отверстия расположены
треугольниками по три. Данные крепления также хорошо позволяют регулировать
положение ноги на доске, как и предыдущие два. Для наиболее точной регулировки
стоит использовать крепление слайдер (slider). Райдер
обладает полной свободой в регулировке положения ноги с точностью до
миллиметра.
</p>
<h2>
Женские сноуборды
</h2>
<p>
	Раньше,
девушки катались на сноубордах, созданными в соответствии с мужскими
особенностями физиологии. Но теперь почти каждая уважающая себя фирма,
производящая сноуборды, выпускает доски специально для прекрасной половины.
Конечно, женские борды легко узнать по дизайну. Также, существует ряд
характеристик, существенно отличающих женские сноуборды от мужских.
</p>
<p>
	Женские
размеры сноубордов лишь слегка отличаются от мужских, но эти небольшие отличия
существенно чувствуются при езде. Ростовка женских сноубордов немного меньше,
но девушки могут ориентироваться на таблицу определения длины доски по росту, вычитая
пару сантиметров от значения в таблице. Как правило, женские модели обладают
меньшей шириной, что позволяет лучше зафиксировать небольшой размер дамской
ножки. Это способствует большему распределению давления по поверхности доски, а
значит и большему контролю над ней. Мягкость досок для девушек также позволяет
лучше контролировать сноуборд. Женские сноуборды должны обладать меньшими
характеристиками, чем мужские модели, в силу физических характеристик их
обладательниц.
</p>
<h2>
Детские сноуборды
</h2>
<p>
	Подбирать
ростовку сноуборда для ребенка необходимо подчиняясь тем же правилам
соответствия длины доски росту и весу, что и для взрослых. Как и женские,
детские модели сноубордов обладают более высокой мягкостью. Это дает ребенку
возможность лучше контролировать доску, что позволяет начинающему райдеру
освоить основы езды на сноуборде.
</p>
<p>
	Основная
ошибка родителей при покупке сноуборда для своего ребенка – это выбор доски «на
вырост». Сноуборд, который по параметрам не соответствует комплекции ребенка
будет лишь тормозить процесс обучения езды на нем. Ребенку будет сложнее
управлять доской, а это существенно замедлит прогресс. Подбирая подходящий по
размерам и характеристикам сноуборд, вы обеспечиваете ребенка удивительной
возможностью влюбиться в этот спорт.
</p>
<h2>
Вместо заключения.
Пошаговое руководство
</h2>
<p>
	Итак, Вы
собрались приобрести самую лучшую доску в мире, с которой Вы покорите любые
вершины, любые поверхности и любые рампы. Как выбрать хороший сноуборд?
</p>
<p>
	1.
     Прикидываем, какую длину должен иметь
сноуборд в соответствии с Вашим ростом и весом (данную цифру можно узнать по
таблицам выше).
</p>
<p>
	2.
     Вспоминаем, какой ваш любимый стиль
катания, ваш уровень катания, в соответствии с этим определяемся с жесткостью,
формой и корректируем длину доски.
</p>
<p>
	Если вы новичок, или
представительница прекрасной половины человечества, то незабываем, что Вам
необходима доска более мягкой жесткости и меньшей длины.
</p>
<p>
	3.
     Берем доску, подходящую всем этим параметрам
и смотрим на её ширину, которая должна быть чуть больше чем длина ваших
ботинок.
</p>
<p>
	4.
     Идеальный сноуборд подобран. Вы
великолепны! А теперь вперед лавировать среди белоснежных склонов.
</p>
                <p></p>
            </div>

            <div class="b-relative-posts">
    <div class="b-relative-posts_title">Еще почитать:</div>

        <table class="b-category_body"><tbody><tr>

                <td class="b-category_post">
                    <a href="/ekipirovka/kak-syekonomity-pri-pokpke-snoborda.htm?utm_campaign=relative_posts&amp;utm_term=table">
                        <div class="b-category_post_img"><img src="http://img-fotki.yandex.ru/get/62627/19044756.1c1/0_e4bcd_b3b50235_S" alt="Как сэкономить при покупке сноуборда"></div>
                        <div class="b-category_post_title">Как сэкономить при покупке сноуборда</div>
                        <div class="b-category_post_abstract">Полезные советы</div>
                    </a>
                </td>

                <td class="b-category_post">
                    <a href="/ekipirovka/racii-dlya-gornolyzhnikov.htm?utm_campaign=relative_posts&amp;utm_term=table">
                        <div class="b-category_post_img"><img src="http://img-fotki.yandex.ru/get/46114/19044756.1c1/0_e3e78_e1d233fd_S" alt="Рации для горнолыжников"></div>
                        <div class="b-category_post_title">Рации для горнолыжников</div>
                        <div class="b-category_post_abstract">Как общаться на склоне</div>
                    </a>
                </td>

                <td class="b-category_post">
                    <a href="/ekipirovka/vybiraem-snobord.htm?utm_campaign=relative_posts&amp;utm_term=table">
                        <div class="b-category_post_img"><img src="http://img-fotki.yandex.ru/get/45245/19044756.1c0/0_e1dd0_c5f07380_S" alt="Выбираем сноуборд"></div>
                        <div class="b-category_post_title">Выбираем сноуборд</div>
                        <div class="b-category_post_abstract">Правила подбора от наших партнеров</div>
                    </a>
                </td>

                <td class="b-category_post">
                    <a href="/ekipirovka/pervyj-droneboarding.htm?utm_campaign=relative_posts&amp;utm_term=table">
                        <div class="b-category_post_img"><img src="http://img-fotki.yandex.ru/get/42991/19044756.1c0/0_e14ca_5b7f1bfc_S" alt="Первый DroneBoarding"></div>
                        <div class="b-category_post_title">Первый DroneBoarding</div>
                        <div class="b-category_post_abstract">На сноуборде за квадрокоптером!</div>
                    </a>
                </td>

        </tr></tbody></table>

</div>


            <div style="clear:both"></div>
<br>

        </div>
    </div>



                    </td>
                    <td class="l-page-g"><i>

                    </i></td>
                </tr>
                </tbody>
</section>

{% endblock %}

{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>

</body>

</html>
{%endblock%}


