{% extends 'products/base.html'%}

{%block css%}
<link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}

<!-- Navigation -->
<section>
    <div class="b-container">
        <div class="b-head-ill_left">
            <div class="b-head-ill_right">
                <table class="l-head">
                    <tbody>
                    <tr>
                        <td class="l-head-g"><i></i></td>
                        <td class="l-head-l">
                            <div class="sticky-navigation-container">
                                <div class="sticky-wrapper" style="height: 59px;">
                                    <div class="sticky-navigation stuck">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="l-head-g"><i></i></td>
                    </tr>
                    </tbody>
                </table>
                <table class="l-head">
                    <tbody>
                    <tr>
                        <td class="l-page-g"><i></i></td>
                        <td class="l-page-l">

                            <div class="b-page-title"><h1>ГЛК "Дивногорск"</h1></div>


                            <table width="100%" cellspacing="10" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td valign="top">
                                        <table cellspacing="5" border="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top"><b>Регион:</b></td>
                                                <td><a href="/regions/1">Россия</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Область:</b></td>
                                                <td>District object (8)</td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Кол-во трасс:</b></td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Перепад высот:</b></td>
                                                <td>250 м</td>
                                            </tr>

                                            <tr>
                                                <td valign="top"><b>Подъемники:</b></td>
                                                <td>2 бугельных</td>
                                            </tr>


                                            <tr>
                                                <td valign="top"><b>Ночное катание:</b></td>
                                                <td>В будни до 22:00, в выходные до 23:00.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Услуги:</b></td>
                                                <td>Ресторан «Дивный» гостиницы «Бирюса» открыт до 05:00. В Дивногорске
                                                    5
                                                    стадионов, 20 спортивных залов, 2 плавательных бассейна. Музей
                                                    истории
                                                    строительства Красноярской ГЭС и города. Рядом с Дивногорском —
                                                    памятники
                                                    природы: скала «Монах», Филаретов ручей, отдельные скалы заповедника
                                                    «Столбы».
                                                </td>
                                            </tr>


                                            <tr>
                                                <td valign="top"><b>Телефоны:</b></td>
                                                <td>(39144) 3-68-44.</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <br>


                                        <p>


                                            Дивногорск - маленький уютный городок в отрогах Восточного Саяна и на берегу
                                            Енисея.
                                            Он расположен всего в 40 км от Красноярска, а название свое получил от
                                            Дивных
                                            гор -
                                            скальных образований на противоположном берегу Енисея. Для горнолыжников это
                                            место
                                            привлекательно по нескольким причинам: здесь редки очереди (разве что в
                                            выходные
                                            и
                                            праздники, да и то при совпадении с идеальной погодой), а с вершины
                                            открывается
                                            панорама могучего Енисея, цепей Восточного Саяна и сосновой тайги. Да и
                                            красноярская
                                            молодежь нередко предпочитает именно дивногорские склоны любым другим
                                            красноярским.
                                            <br>
                                            <br>
                                            Дивногорский горнолыжный комплекс «Филаретов ключ» принадлежит СДЮШОР, а
                                            одна из
                                            трасс вместе с подъемником — профилакторию завода низковольтной аппаратуры
                                            «Кристалл». Всего в хвойной тайге прорублены три трассы от 800 до 1100 м с
                                            диапазоном высот до 250 м, а также пологий учебный склон для детей и
                                            новичков.
                                            Обслуживают эти спуски две канатно-буксировочные дороги и ратраки. Слаломные
                                            трассы
                                            на естественном ровном склоне одобрены специалистами FIS, так что здесь есть
                                            где
                                            покататься и продвинутым лыжникам. Правда, спортивные трассы «Филаретова
                                            ключа»
                                            перекрываются на соревнования, которых здесь проводится немало: Открытое
                                            Первенство
                                            Красноярского края «Олимпийские надежды», первенство России среди юниоров
                                            (FIS
                                            Junior Race), этап Кубка России по сноуборду (FIS Asian Snowboard Cup). У
                                            нижней
                                            станции подъемника работает небольшое кафе, но сервис, к сожалению, не очень
                                            развит—нет проката снаряжения (можно только попробовать договориться в
                                            СДЮШОР).
                                            Различные части комплекса принадлежат разным владельцам — это тормозит
                                            развитие
                                            сервиса. Помимо кафе, есть медпункт, парковка. Официального проката раньше
                                            не
                                            было
                                            (можно было договориться в СДЮШОР). В те дни, когда на комплексе проходят
                                            соревнования, для взрослых горнолыжников склоны закрыты. Тел.: (39144)
                                            3-68-44.
                                            <br>
                                            <br>
                                            Как добраться
                                            <br>
                                            Город связан с Красноярском железной дорогой, автотрассой. До Красноярска -
                                            около 40
                                            км.
                                            <br>
                                            <br>
                                            Из Красноярска можно рейсовым автобусом №106 или маршрутным такси, которые
                                            отправляются от Речного вокзала. Также можно воспользоваться
                                            электропоездами, но
                                            последние ходят довольно редко. Чтобы найти горнолыжный комплекс от
                                            автовокзала
                                            или
                                            станции, нужно подняться вверх до улицы Чкалова в районе дома 59, откуда до
                                            трасс
                                            остается метров 200-250, не более.

                                        </p>

                                    </td>
                                    <td width="1" valign="top">


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="clear:both"></div>
                            <br>


                        </td>
                        <td class="l-page-g"><i>

                        </i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>
</html>
{%endblock%}
