{% extends 'products/base.html'%}

{%block css%}
<link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}

<!-- Page Content -->
<section>
    <div class="b-container">
        <div class="b-head-ill_left">
            <div class="b-head-ill_right">
                <table class="l-head">
                    <tbody>
                    <tr>
                        <td class="l-head-g"><i></i></td>
                        <td class="l-head-l">
                            <div class="sticky-navigation-container">
                                <div class="sticky-wrapper" style="height: 59px;">
                                    <div class="sticky-navigation stuck">


                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="l-head-g"><i></i></td>
                    </tr>
                    </tbody>
                </table>


                <table class="l-page">
                    <tbody>
                    <tr>
                        <td class="l-page-g"><i></i></td>
                        <td class="l-page-l">

                            <div class="b-page-title"><h1>ГЛК "Бобровый лог"</h1></div>


                            <table width="100%" cellspacing="10" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td valign="top">
                                        <table cellspacing="5" border="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top"><b>Регион:</b></td>
                                                <td><a href="/regions/1">Россия</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Область:</b></td>
                                                <td>District object (8)</td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Кол-во трасс:</b></td>
                                                <td>14</td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Перепад высот:</b></td>
                                                <td>350 м</td>
                                            </tr>

                                            <tr>
                                                <td valign="top"><b>Подъемники:</b></td>
                                                <td>Подъемники – 2 кресельных (4-х местные "Доппельмайер"), 2-х местная
                                                    буксировочная дорога, безопорные лифты.

                                                    Общая пропускная способность - 5100 чел./час
                                                </td>
                                            </tr>


                                            <tr>
                                                <td valign="top"><b>Ночное катание:</b></td>
                                                <td>Зимой фанпарк работает до 22:00.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Услуги:</b></td>
                                                <td>После катания:
                                                    Комплекс питания в ФП "Бобровый лог" (рестораны, бары). Шатры бары
                                                    на
                                                    горе.
                                                    Все развлечения – от боулинга и ресторанов до оперного театра и
                                                    органного зала – в Красноярске.
                                                    Совсем рядом знаменитый заповедник "Столбы".
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Адрес:</b></td>
                                                <td>660006, Россия, г. Красноярск, ул. Сибирская, 92</td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Сайт:</b></td>
                                                <td><a href="http://www.bobrovylog.ru/" rel="nofollow">http://www.bobrovylog.ru/</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><b>Телефоны:</b></td>
                                                <td>+7(391) 256-86-86</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <br>


                                        <p>


                                            Фанпарк «Бобровый лог» занимает территорию свыше 80 га. Комплекс расположен
                                            в
                                            одном из живописных мест города Красноярска, в районе реки Базаиха и
                                            граничит с
                                            природным заповедником «Столбы». Фанпарк «Бобровый лог» является
                                            единственным за
                                            Уралом всесезонным комплексом, который работает в формате горнолыжного
                                            комплекса
                                            зимой и парка отдыха и развлечений летом и в межьсезонье. Горнолыжный сезон
                                            на
                                            комплексе длится 6 месяцев.
                                            <br>
                                            <br>
                                            <br>
                                            Как добраться:
                                            <br>
                                            Авиаперелет в аэропорт Емельяново г. Красноярска;
                                            <br>
                                            Поездом до железнодорожной станции «Красноярск»;
                                            <br>
                                            функционируют специальные рейсовые фирменные автобусы по маршруту №37 «Ж/д
                                            вокзал» – «Бобровый лог».
                                            <br>
                                            <br>
                                            Разница во времени с г. Москва: + 4 часа.
                                            <br>
                                            <br>
                                            <br>
                                            Источник данных:
                                            <br>
                                            <a href="http://www.bobrovylog.ru/" rel="nofollow">
                                                http://www.bobrovylog.ru/
                                            </a>
                                            <br>
                                            <a href="http://www.ski.ru/static/419/" rel="nofollow">
                                                http://www.ski.ru/static/419/
                                            </a>

                                        </p>

                                    </td>
                                    <td width="1" valign="top">


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="clear:both"></div>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>>

{% endblock %}

{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>

</body>

</html>
{%endblock%}


