{% extends 'products/base.html'%}

{%block css%}
<link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}
<body>
<div class="b-container">

    <div class="b-head-ill_left">
        <div class="b-head-ill_right">
            <table class="l-head">
                <tbody>
                <tr>
                    <td class="l-head-g"><i></i></td>
                    <td class="l-head-l">
                        <div class="sticky-navigation-container">
                            <div class="sticky-wrapper" style="height: 59px;">
                                <div class="sticky-navigation stuck">


                                    <div class="b-menu">
                                        <div class="b-menu__level1">
                                            <div class="b-menu__item b-menu__item_state_current"><a href="/"
                                                                                                    title="Посты наших райдеров"><span
                                                    class="b-menu__item__fade">посты</span><span>посты</span></a></div>
                                            <div class="b-menu__item "><a href="/skills/" title="Информационный бункер"><span
                                                    class="b-menu__item__fade">статьи</span><span>статьи</span></a>
                                            </div>
                                            <div class="b-menu__item "><a href="/movies/2015/"
                                                                          title="Фильмы, тизеры, саундтреки"><span
                                                    class="b-menu__item__fade">фильмы</span><span>фильмы</span></a>
                                            </div>
                                            <div class="b-menu__item "><a href="/mountains"
                                                                          title="Горки, места, отзывы"><span
                                                    class="b-menu__item__fade">места катания</span><span>места катания</span></a>
                                            </div>
                                        </div>

                                        <div class="b-menu__level2">

                                            <div class="b-menu__subitem ">
                                                <a href="/obuchenie" title=""><span>Обучение</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/ekipirovka" title=""><span>Экипировка</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/gory" title=""><span>Горы</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/video" title=""><span>Видео</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/foto" title=""><span>Фото</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/sorevnovaniya" title=""><span>Соревнования</span></a>
                                            </div>

                                            <div class="b-menu__subitem  b-menu__subitem_state_current">
                                                <a href="/obzory" title=""><span>Обзоры</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/post/new" title="Предложить новость"><span>написать</span></a>
                                            </div>

                                            <div></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="l-head-g"><i></i></td>
                </tr>
                </tbody>
            </table>


            <table class="l-page">
                <tbody>
                <tr>
                    <td class="l-page-g"><i></i></td>
                    <td class="l-page-l">

                        <div class="b-page-title"><h1>Скорость, драйв и склон </h1></div>


                        <div style="clear:both">
                            <div class="b-feed b-post">
                                <div class="item">
                                    <div class="text g-line b-post_content">
                                        <p>


                                        </p>
                                        <p>
                                            Не так давно вы полюбили катание на сноуборде и готовы развиваться дальше?
                                            Если райдер умеет преодолевать склон без падений и пользуется сбросом доски
                                            достаточно умело, то ему стоит задуматься о более высоких скоростях, которые
                                            дадут выброс адреналину. Для этого необходимо освоить технику карвинга на
                                            сноуборде.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/16167/19044756.1ac/0_cd233_68c930d9_orig"
                                                 style="width: 631px; height: 420.246px;">
                                        </p>
                                        <h4>
                                            Что такое карвинг?
                                        </h4>
                                        <p>
                                            Carving – это техника прохождения виражей, посредством которой достигается
                                            максимальная скорость движения. Такую технику называют единственно
                                            правильной для катания, поскольку только благодаря ей можно контролировать
                                            доску на больших скоростях. Так называемый эффективный поворот в корне
                                            отличается от обычного по нескольким противоположным свойствам:
                                        </p>
                                        <ul>
                                            <li>
                                                отсутствует сброс доски;
                                            </li>
                                            <li>
                                                в отличие от обычного, где смена канта происходит путем плоского ведения
                                                доски по линии склона вниз, carving подразумевает максимальную
                                                закантовку на пересечении линии склона;
                                            </li>
                                            <li>
                                                смена канта происходит в финальной фазе движения траверсом.
                                            </li>
                                        </ul>
                                        <p>
                                            Если вы не понимаете, о чем речь, то обучение этой технике катания еще не
                                            для вас. Стоит обратиться к материалам, повествующим о составляющих частях
                                            доски, и основам катания. Для уже прошедших начальный этап обучения отметим,
                                            что существуют несколько разновидностей эффективного поворота, которые
                                            вылились сегодня в целые соревновательные дисциплины и отдельные техники:
                                        </p>
                                        <ul>
                                            <li>
                                                слалом;
                                            </li>
                                            <li>
                                                slopestyle;
                                            </li>
                                            <li>
                                                еврокарвинг.
                                            </li>
                                        </ul>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/15581/19044756.1ac/0_cd234_e19be626_orig"
                                                 style="width: 640px; height: 427.963525835866px;">
                                        </p>
                                        <p>
                                            Слаломом в спортивном сноубординге называется ряд дисциплин
                                            соревновательного характера. Спортсмен должен как можно быстрее преодолеть
                                            определенный участок трассы. В регламенте гонки устанавливается определенные
                                            правила траектории и штрафных санкций за ее несоблюдение. Траектория
                                            обозначается флажками двух цветом, обычно красного и синего. Слалом
                                            подразделяется на несколько разновидностей:
                                        </p>
                                        <ul>
                                            <li>
                                                параллельный;
                                            </li>
                                            <li>
                                                параллельный гигантский;
                                            </li>
                                            <li>
                                                гигантский;
                                            </li>
                                            <li>
                                                супер-гигант.
                                            </li>
                                        </ul>
                                        <p>
                                            Самой зрелищной техникой катания является слоупстайл. Она заключается в
                                            исполнении различных трюков и акробатических прыжков. На простом склоне этим
                                            стилем овладеть невозможно, поскольку для его исполнения требуются
                                            различного рода трамплины, перила, дропы и контруклоны.
                                        </p>
                                        <p>
                                            Что касается еврокарвинга, то, как вы могли догадаться из названия, он
                                            пришел к нам из Европы, а точнее, из швейцарских Альп. Только у нас
                                            используют название еврокарвинга, в то время как по всему миру пользуется
                                            популярностью название экстримкарвинга.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/15482/19044756.1ac/0_cd235_a727df29_orig"
                                                 style="width: 658px; height: 439.029801324503px;">
                                        </p>
                                        <p>
                                            Главной идеей карвинга как техники катания является уклон в сторону
                                            поворота, который компенсирует центробежную силу. Экстримкарвинг есть полное
                                            отражение смысла техники carving, только в максимальной ее амплитуде. То
                                            есть, райдер, в прямом смысле слова, укладывается на склон. Бытует мнение,
                                            что еврокарвинг – это трюковой элемент в сноубординге, но некоторые считают
                                            его самым эффектиным методом контроля доски.
                                        </p>
                                        <h4>
                                            Какова техника исполнения эффективного поворота?
                                        </h4>
                                        <p>
                                            Carving – это, прежде всего, скоростной стиль катания. Сам процесс спуска
                                            происходит исключительно на боковой дуге сноуборда – канте. Перекантовка
                                            происходит так быстро, что смена канта больше похожа на прыжок. Snowboard
                                            изящно режет толщу снега. Поперечное скольжение канта исключено, что
                                            позволяет повысить его эффективность. Нос и хвост борда держат одну
                                            траекторию. Если вы видите на склоне аккуратный дугообразный след похожий на
                                            разрез, а вокруг него не разбросан снег, будьте уверены, что не так давно
                                            здесь использовался carving.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/16189/19044756.1ac/0_cd236_5b349a81_orig"
                                                 style="width: 660px; height: 440px;">
                                        </p>
                                        <p>
                                            Обучение этой технике предполагает уже имеющуюся у человека теоретическую и
                                            практическую базу. Если в ваши планы не входит профессиональное обучение
                                            карвингу на сноуборде, то все равно стоит обратить внимание на эту технику.
                                            Она позволяет не только контролировать скорость, но и отлично чувствовать
                                            склон.
                                        </p>
                                        <p>
                                            При выборе склона для освоения техники стоит обратить внимание на плотность
                                            снега и подготовку склона. Любой, даже минимальный, рельеф доставит
                                            некоторые неудобства не только начинающим, но и профессионалам, поскольку
                                            ухудшает контакт с поверхностью.
                                        </p>
                                        <h4>
                                            С чего начать освоение?
                                        </h4>
                                        <p>
                                            Ранее мы говорили о том, что обучение карвингу под силу только уже освоившим
                                            основы. Стоит учесть, что встав на snowboard и двигаясь вниз по склону под
                                            силой притяжения Земли по строгой прямой, вам еще необходимо освоить технику
                                            прохождения основных поворотов. Если простые повороты уже вам подвластны, то
                                            акцентируйте внимания на некоторых важнейших правилах:
                                        </p>
                                        <ul>
                                            <li>
                                                работа ног не прекращается ни на секунду;
                                            </li>
                                            <li>
                                                ноги всегда находятся в согнутом состоянии.
                                            </li>
                                        </ul>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/15543/19044756.1ac/0_cd237_cd88337b_orig"
                                                 style="width: 660px; height: 439.07949790795px;">
                                        </p>
                                        <p>
                                            Во время движения на переднем канте ваши ноги будут согнуты больше, чем при
                                            движении на заднем. При вхождении в вираж коленный сустав сгибается, а на
                                            выходе из виража колени разгибаются практически до конца.
                                        </p>
                                        <p>
                                            Техника катания карвинг отличается эффективностью загрузки и разгрузки
                                            борда. При правильном подборе катающимся усилия, которое он придает рабочему
                                            канту, получается правильная резаная дуга. Правильная загрузка подразумевает
                                            под собой учет радиуса поворота и скорости движения.
                                        </p>
                                        <p>
                                            Разгрузка доски заключается в уменьшении нагрузки на snowboard во время
                                            перекантовки. Отличительной особенностью от обычного катания в этом моменте
                                            является не снижающаяся скорость движения. Этого можно достичь тремя
                                            методами:
                                        </p>
                                        <ul>
                                            <li>
                                                нагрузка с рабочего канта распределяется по всей доске посредством
                                                перехода на плавное ведение;
                                            </li>
                                            <li>
                                                снижение центробежной силы и давления на доску посредством резкой тяги
                                                доски к себе;
                                            </li>
                                            <li>
                                                давление уменьшается в связи с увеличение угла склона и присутствие на
                                                нем рельефа.
                                            </li>
                                        </ul>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/15508/19044756.1ac/0_cd238_26cc45cf_orig"
                                                 style="width: 662px; height: 419.123376623377px;">
                                        </p>
                                        <p>
                                            Единой техники для освоения поворота на скорости не существует, поскольку
                                            этот процесс зависит от индивидуальных особенностей человека. Поэтому при
                                            освоении базовых движений каждому под силу выработать удобный для него
                                            способ.
                                        </p>
                                        <p>
                                            Первым шагом обучения является приобретение специального – карвингового –
                                            сноуборда. Сноуборд для карвинга отличается более узкой конструкцией и яркой
                                            выраженностью носовой и хвостовой частей. Еще его называют жесткий сноуборд,
                                            поскольку материал, из которого выполнена доска, должен быть более жестким.
                                            Такой борд более послушный в поворотах. Еще одним средством повышения
                                            контроля своих движений являются жесткие ботинки – такие же, как используют
                                            лыжники.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/16145/19044756.1ac/0_cd239_5b392464_orig"
                                                 style="width: 660px; height: 440px;">
                                        </p>
                                        <p>
                                            После того, как у вас под ногами оказался нужное приспособление, можно
                                            начать освоение.
                                        </p>
                                        <p>
                                            1. Не гасим скорость. Просто двигаемся по инерции, отпуская доску, следя за
                                            стойкой, и стараемся предотвратить сбросы.
                                        </p>
                                        <p>
                                            2. Увеличиваем крутизну склона. Для преодоления страха и обуздания стихии
                                            скорости нам придется постоянно повышать скоростной параметр, который во
                                            многом зависит от наклона склона.
                                        </p>
                                        <p>
                                            3. Скажем «нет» сбросам на поворотах. Посредством равномерной загрузки обеих
                                            ног избавляемся от замедлений.
                                        </p>
                                        <p>
                                            4. Эффективная перекантовка. После того, как вы уверено совершаете все три
                                            предыдущих шага, начинаем осваивать подтягивание борда к себе.
                                        </p>
                                        <p>
                                            5. Помни о «правиле опережения». Оно заключается в том, что вам необходимо
                                            перенести центр тяжести вовнутрь поворота и вниз по направлению спуска. Во
                                            время переноса центра тяжести не забудьте придать усилие канту. Центробежная
                                            сила не даст вам рухнуть.
                                        </p>
                                        <p>
                                            6. Прыжок с канта на кант. Несколько раз повторите быструю смену канта. Для
                                            того чтобы полностью ощутить поворот и скорость, избегайте траверсов. Радиус
                                            поворота также не стоит резать сразу до минимума, делайте это постепенно.
                                        </p>
                                        <p>
                                            <iframe allowfullscreen="" src="https://www.youtube.com/embed/yWaAMdg5Ihg"
                                                    width="560" height="315" frameborder="0">
                                            </iframe>
                                        </p>


                                        <p></p>
                                    </div>

                                    <div class="b-relative-posts">
                                        <div class="b-relative-posts_title">Еще почитать:</div>

                                        <table class="b-category_body">
                                            <tbody>
                                            <tr>

                                                <td class="b-category_post">
                                                    <a href="/obzory/snowaleto1.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/131711/19044756.1c1/0_e38d5_bbf573c7_S"
                                                                alt="SNOWALETO1"></div>
                                                        <div class="b-category_post_title">SNOWALETO1</div>
                                                        <div class="b-category_post_abstract">Как зимний сезон закроешь,
                                                            так летний и проведешь - именно так говорят те, кто со
                                                            сменой времен года не перестают заниматься спортом, а просто
                                                            меняют доски. Команда Ивент Академия и Акватория Лета
                                                            приглашают на главную snow-surf вечеринку #SNOWALETO.
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/obzory/chetyrehtaktnye-snegohody-yamaha.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/57797/19044756.1c1/0_e3685_92dceeee_S"
                                                                alt="Четырехтактные снегоходы Ямаха"></div>
                                                        <div class="b-category_post_title">Четырехтактные снегоходы
                                                            Ямаха
                                                        </div>
                                                        <div class="b-category_post_abstract">Решили приобрести снегоход
                                                            Ямаха, значит, вами было принято правильное решение.
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/obzory/a-tepery-vatrshki-.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/9827/19044756.1bf/0_df096_5d644e87_S"
                                                                alt="А теперь - ватрушки!"></div>
                                                        <div class="b-category_post_title">А теперь - ватрушки!</div>
                                                        <div class="b-category_post_abstract">На чем катать ваших
                                                            детей
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/obzory/shkola-snoborda.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/9822/19044756.1ba/0_daf2e_9f5ea6de_S"
                                                                alt="Школа сноуборда"></div>
                                                        <div class="b-category_post_title">Школа сноуборда</div>
                                                        <div class="b-category_post_abstract">Любительский уровень
                                                            катания не всегда устраивает амбициозных спортсменов. И
                                                            первая ступень на пути к профессионализму – это школа
                                                            сноубординга. Сегодня их достаточно много и в России, и за
                                                            рубежом.
                                                        </div>
                                                    </a>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>


        </tr>
        </tbody>
        </table>


    </div>
</div>

</div>

</body>
{% endblock %}


{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>
</html>
{%endblock%}
