{% extends 'products/base.html'%}

{%block css%}
<link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}
<body>
<div class="b-container">

    <div class="b-head-ill_left">
        <div class="b-head-ill_right">
            <table class="l-head">
                <tbody>
                <tr>
                    <td class="l-head-g"><i></i></td>
                    <td class="l-head-l">
                        <div class="sticky-navigation-container">
                            <div class="sticky-wrapper" style="height: 59px;">
                                <div class="sticky-navigation stuck">


                                    <div class="b-menu">
                                        <div class="b-menu__level1">
                                            <div class="b-menu__item b-menu__item_state_current"><a href="/"
                                                                                                    title="Посты наших райдеров"><span
                                                    class="b-menu__item__fade">посты</span><span>посты</span></a></div>
                                            <div class="b-menu__item "><a href="/skills/" title="Информационный бункер"><span
                                                    class="b-menu__item__fade">статьи</span><span>статьи</span></a>
                                            </div>
                                            <div class="b-menu__item "><a href="/movies/2015/"
                                                                          title="Фильмы, тизеры, саундтреки"><span
                                                    class="b-menu__item__fade">фильмы</span><span>фильмы</span></a>
                                            </div>
                                            <div class="b-menu__item "><a href="/mountains"
                                                                          title="Горки, места, отзывы"><span
                                                    class="b-menu__item__fade">места катания</span><span>места катания</span></a>
                                            </div>
                                        </div>

                                        <div class="b-menu__level2">

                                            <div class="b-menu__subitem ">
                                                <a href="/obuchenie" title=""><span>Обучение</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/ekipirovka" title=""><span>Экипировка</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/gory" title=""><span>Горы</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/video" title=""><span>Видео</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/foto" title=""><span>Фото</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/sorevnovaniya" title=""><span>Соревнования</span></a>
                                            </div>

                                            <div class="b-menu__subitem  b-menu__subitem_state_current">
                                                <a href="/obzory" title=""><span>Обзоры</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/post/new" title="Предложить новость"><span>написать</span></a>
                                            </div>

                                            <div></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="l-head-g"><i></i></td>
                </tr>
                </tbody>
            </table>


            <table class="l-page">
                <tbody>
                <tr>
                    <td class="l-page-g"><i></i></td>
                    <td class="l-page-l">

                        <div class="b-page-title"><h1>Фристайл в сноуборде </h1></div>


                        <div style="clear:both">
                            <div class="b-feed b-post">
                                <div class="item">
                                    <div class="text g-line b-post_content">
                                        <p>


                                        </p>
                                        <p>
                                            Freestyle в сноубординге – скорее, спортивный стиль. Эта дисциплина включена
                                            в олимпийские виды спорта. Фристайл направление, где сноубордисты выполняют
                                            трюки на специальной трассе, например, прыжок, грэб или сальто. Выполнение
                                            сложных трюков в воздухе требуют серьезной физической подготовки.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/9837/19044756.1ba/0_daf23_2dd2e13e_orig"
                                                 style="width: 625px; height: 353px;" width="625" height="353">
                                        </p>
                                        <h4>
                                            Где катаются фристайлеры
                                        </h4>
                                        <p>
                                            Для тренировки и отработки элементов для сноубордистов сооружаются
                                            специальные сноу-парки, в которых устанавливаются хаф-пайпы и биг-эйры.
                                            Любая школа фристайла на сноуборде включает в свою программу тренировки в
                                            таких парках.
                                        </p>
                                        <p>
                                            Хаф-пайп представляет собой огромную U-образную полутрубу. Находясь в ней и
                                            перемещаясь от края к краю, спортсмен может выполнять различные трюки. А
                                            биг-эйр – это большой трамплин, вылетая с которого, так же можно выполнять
                                            различные акробатические элементы в воздухе.
                                        </p>
                                        <h4>
                                            Особенности техники фристайла
                                        </h4>
                                        <p>
                                            Школа freestyle в сноубординге отличается своей зрелищностью и красотой. В
                                            отличие от других спортивных дисциплин здесь оценивается выполнение прыжка с
                                            биг-эйра, насколько чисто выполнен грэб, а не время спуска по трассе.
                                        </p>
                                        <p>
                                            Snowboard freestyle – стиль, в котором множество трюков, которые выполняются
                                            как в воздухе, так и на ровной поверхности. Они отличаются по сложности и
                                            технике выполнения.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/3014/19044756.1ba/0_daf24_4b956677_orig"
                                                 style="width: 635px; height: 424px;" width="635" height="424">
                                        </p>
                                        <p>
                                            Фристайл и фрирайд тесно связаны между собой. Фрирайд – это катание по
                                            целине, прыжки со снежных козырьков, по природным необработанным трассам.
                                            Освоив технику фрирайда в snowboard парке, вы сможете маневрировать на любой
                                            местности, грамотно совершить прыжок с отвеса и войти в крутой поворот.
                                        </p>
                                        <h4>
                                            Основные элементы
                                        </h4>
                                        <p>
                                            Олли (ollies) – один из базовых элементов во фристайле. Это прыжок на ровной
                                            поверхности. Перенесите вес тела на заднюю ногу и приподнимите нос доски.
                                            Оттолкнитесь задней ногой, в прыжке подтянув обе ноги к себе.
                                        </p>
                                        <p>
                                            Нолли (nollie) – прыжок, обратный олли. То есть, поднимается теперь хвост
                                            доски и прыжок совершается с передней ноги.
                                        </p>
                                        <p>
                                            Эти два элемента являются базовыми, и каждая freestyle школа начинает
                                            обучение именно с них.
                                        </p>
                                        <p>
                                            Вилли (wheelie) – движение по склону, когда нос или хвост доски находится в
                                            воздухе.
                                        </p>
                                        <p>
                                            Slide – скольжение (например, на рейле), когда доска находится
                                            перпендикулярно к поверхности. Tail/Nose slide – скольжение на хвосте/носу
                                            сноуборда.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/6433/19044756.1ba/0_daf27_5f723d88_orig">
                                        </p>
                                        <p>
                                            Свитч (switch) – движение на доске в нехарактерной для вас стойке. То есть,
                                            если вы «гуфи» и ведущая нога для вас правая, то катание в свиче для вас
                                            будет левой ногой вперед.
                                        </p>
                                        <p>
                                            Фейки (fakie) – это понятие используется тогда, когда, выполнив какой-то
                                            элемент, сноубордист приземляется не в свою стойку.
                                        </p>
                                        <p>
                                            Air – тип выполняемых трюков, когда скользящая поверхность доски смотрит
                                            вверх. Air to Fakie – прыжок с поворотом на 180 градусов и приземление в
                                            свитч (обратную стойку). На видео такой вид трюков смотрится очень зрелищно.
                                        </p>
                                        <p>
                                            Nose/Tail Rolls – поворот на 180 градусов, не отрываясь от склона. Для опоры
                                            используется либо нос, либо хвост доски. Опираясь на одну ногу,
                                            противоположная часть доски приподнимается и переносится вперед.
                                        </p>
                                        <p>
                                            Вращения – они могут быть разных углов, от 180 до 900. Если 180 или 360
                                            можно сделать на месте, то вращения на больший угол требует прыжка с кикера
                                            или биг-эйра. Приземление обязательно осуществляется на обе ноги
                                            одновременно, иначе можно потерять контроль над доской и упасть.
                                        </p>
                                        <p>
                                            50/50 (фифти-фифти) – трюк, когда при скольжении по фигуре (например, рейле)
                                            сноуборд расположен параллельно ей.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/24/19044756.1ba/0_daf26_6859f53a_orig"
                                                 style="width: 522px; height: 414px;" width="522" height="414">
                                        </p>
                                        <p>
                                            Boardslide (бордслайд) – скольжение, когда сноуборд перпендикулярен фигуре.
                                            То есть, подъезжая к рейлу, вы делаете олли, разворачиваете доску на 90
                                            градусов, и тогда рейл оказывается между креплениями доски.
                                        </p>
                                        <p>
                                            Грэб – захват рукой доски в разных местах. В зависимости от руки и места
                                            доски различаются разные виды грэба. Nosegrab – передняя рука захватывает
                                            нос доски. При этом в прыжке нужно вытянуть заднюю ногу, а переднюю согнуть.
                                            И не стоит самому наклоняться к концу доски, используйте ноги.
                                        </p>
                                        <h4>
                                            Экипировка
                                        </h4>
                                        <p>
                                            Во-первых, сноуборд для фристайла должен выдерживать большие нагрузки. Это и
                                            элементы на рейлах (металлические трубы), и жесткие приземления после
                                            прыжков. Во-вторых, жесткость доски должна быть достаточно высокой. Она
                                            обеспечит необходимую отдачу при выполнении прыжка с биг-эйра. Третий момент
                                            – это вес сноуборда. Доска должны быть как можно легче. Все это облегчит
                                            выполнение трюков.
                                        </p>
                                        <p>
                                            Крепления для фристайл-сноубординга также должны быть жесткими и крепкими.
                                            Задняя часть крепления должна крепко держать ногу для максимального контроля
                                            заднего канта при выполнении прыжков. Металлические клипсы и дуги добавят
                                            прочности. Жесткая фиксация ноги позволит более точно передать нагрузку на
                                            доску и проходить неровности на трассе.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/5111/19044756.1ba/0_daf28_4e71853e_orig"
                                                 style="width: 603px; height: 383px;" width="603" height="383">
                                        </p>
                                        <p>
                                            Ботинки – являются еще и защитой. Они тоже должны быть максимальной
                                            жесткости, чтобы гасить удары при приземлении. В тоже время они должны быть
                                            легкими для облегчения выполнения элементов фристайла.
                                        </p>
                                        <p>
                                            Многие спортсмены надевают дополнительные элементы защиты во избежание травм
                                            на трассе. Обычно это наколенники, перчатки (для защиты рук при падении, а
                                            так же при выполнении такого трюка, как грэб), защитные шорты со
                                            специальными жесткими вставками, панцирь (защита спины) и шлем. Существуют
                                            также куртки с уже вшитыми защитными вставками на локтях, спине и
                                            предплечьях. И не стоит забывать о сноубордических очках (масках).
                                        </p>
                                        <p>
                                            <iframe allowfullscreen="" src="https://www.youtube.com/embed/GF6Ct6B1yfM"
                                                    width="420" height="315" frameborder="0">
                                            </iframe>
                                        </p>


                                        <p></p>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </td>
                    <td class="l-page-g"><i>

                    </i></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

</div>

</body>
{% endblock %}


{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>
</html>
{%endblock%}
