{% extends 'products/base.html'%}

{%block css%}
<link href="/static/vendor/css/snowboards.css" rel="stylesheet">
{%endblock%}

{% block content %}
<body>
<div class="b-container">
    <div class="b-head-ill_left">
        <div class="b-head-ill_right">
            <table class="l-head">
                <tbody>
                <tr>
                    <td class="l-head-g"><i></i></td>
                    <td class="l-head-l">
                        <div class="sticky-navigation-container">
                            <div class="sticky-wrapper" style="height: 59px;">
                                <div class="sticky-navigation stuck">


                                    <div class="b-menu">
                                        <div class="b-menu__level1">
                                            <div class="b-menu__item b-menu__item_state_current"><a href="/"
                                                                                                    title="Посты наших райдеров"><span
                                                    class="b-menu__item__fade">посты</span><span>посты</span></a></div>
                                            <div class="b-menu__item "><a href="/skills/"
                                                                          title="Информационный бункер"><span
                                                    class="b-menu__item__fade">статьи</span><span>статьи</span></a>
                                            </div>
                                            <div class="b-menu__item "><a href="/movies/2015/"
                                                                          title="Фильмы, тизеры, саундтреки"><span
                                                    class="b-menu__item__fade">фильмы</span><span>фильмы</span></a>
                                            </div>
                                            <div class="b-menu__item "><a href="/mountains"
                                                                          title="Горки, места, отзывы"><span
                                                    class="b-menu__item__fade">места катания</span><span>места катания</span></a>
                                            </div>
                                        </div>

                                        <div class="b-menu__level2">

                                            <div class="b-menu__subitem ">
                                                <a href="/obuchenie" title=""><span>Обучение</span></a>
                                            </div>

                                            <div class="b-menu__subitem  b-menu__subitem_state_current">
                                                <a href="/ekipirovka" title=""><span>Экипировка</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/gory" title=""><span>Горы</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/video" title=""><span>Видео</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/foto" title=""><span>Фото</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/sorevnovaniya" title=""><span>Соревнования</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/obzory" title=""><span>Обзоры</span></a>
                                            </div>

                                            <div class="b-menu__subitem ">
                                                <a href="/post/new" title="Предложить новость"><span>написать</span></a>
                                            </div>

                                            <div></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="l-head-g"><i></i></td>
                </tr>
                </tbody>
            </table>


            <table class="l-page">
                <tbody>
                <tr>
                    <td class="l-page-g"><i></i></td>
                    <td class="l-page-l">

                        <div class="b-page-title"><h1>Фрирайд: удовольствие и опасность </h1></div>


                        <div style="clear:both">
                            <div class="b-feed b-post">
                                <div class="item">
                                    <div class="text g-line b-post_content">
                                        <p>


                                        </p>
                                        <p>
                                            Фрирайд – катание на сноуборде по неподготовленной местности. Данная
                                            разновидность сноубординга связана с опасностью, ведь дикие склоны не
                                            обслуживаются спасателями. Также фрирайд включает в себя элементы трекинга
                                            (ходьбы и скалолазания), а это значит, что фрирайдер должен быть еще и
                                            физически
                                            подготовлен.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/4214/19044756.1b9/0_dad4e_e85bf089_orig"
                                                 style="width: 564px; height: 377px;" width="564" height="377">
                                        </p>
                                        <p>
                                            Кроме умения держаться на сноуборде, от фрирайдера требуется довольно
                                            широкий
                                            круг навыков – это умение ориентироваться на местности, оценивать толщину и
                                            надежность снежного покрова, умение прогнозировать погодные условия. Кроме
                                            доски
                                            для фрирайда, спортсмен должен быть экипирован рюкзаком с ABS, который в
                                            случае
                                            схода лавины может спасти ему жизнь и помочь спасателям найти райдера.
                                            Учитывая,
                                            что нетронутый снег (powder) очень мягок и тем самым опасен, для фрирайда
                                            нужна
                                            специальная доска, которая будет легче, чем другие, и при этом иметь размеры
                                            больше стандарта. Особый сноуборд поможет более точно управлять движением по
                                            склону, а также не сломается в случае падения или же жесткого приземления на
                                            снег.
                                        </p>
                                        <p>
                                            Если опасности диких склонов вас не смутили, то следующим вопросом станет
                                            выбор
                                            «снаряда». Специализированные доски имеют большую ширину и еще более широкий
                                            нос, чтобы доска легче «выныривала» из снега в случае погружения. Длина
                                            досок
                                            для фрирайда больше, чем у снаряжения для фристайла или карвинга, – это
                                            позволяет меньше беспокоиться о погружении в горный снег (вкупе с
                                            увеличенной
                                            шириной) и делает движение по склону более удобным и управляемым.
                                        </p>
                                        <p>
                                            Также в списке отличий от других досок можно увидеть рокер – сильный загиб
                                            носка
                                            доски, который начинается ближе к середине. Это позволяет не тонуть в снегу
                                            на
                                            большой скорости. С этой же целью осуществляется и перенос центра тяжести
                                            доски
                                            – из центра, ближе к хвосту. Эта мера не даст носу погружаться в powder.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/3613/19044756.1b9/0_dad4f_f757d362_orig"
                                                 style="width: 589px; height: 333px;" width="589" height="333">
                                        </p>
                                        <p>
                                            Для фрирайда как довольно агрессивного вида сноубординга также используются
                                            ботинки с креплениями повышенной жесткости, что улучшит управляемость доской
                                            и,
                                            таким образом, сделает катание чуть более безопасным.
                                        </p>
                                        <h4>
                                            Какую доску выбрать?
                                        </h4>
                                        <p>
                                            Доски для фрирайда разделяются на несколько видов.
                                        </p>
                                        <p>
                                            «Ласточкин хвост» – это целинная доска с узким раздвоенным хвостом и очень
                                            широким носом, которая рекомендуется опытным спортсменам. Оригинальная форма
                                            хвостовой части позволяет доске зарываться в снег и благодаря этому
                                            развивать
                                            просто умопомрачительную, в сравнении с другими досками, скорость.
                                        </p>
                                        <p>
                                            С досками типа «ласточкин хвост» рекомендуется использовать жесткие ботинки,
                                            ведь на огромной скорости они значительно упрощают управление. Благодаря
                                            уникальной конструкции доски, райдеры, использующие «ласточкин хвост»,
                                            чувствуют
                                            себя, как серферы, потому что могут безбоязненно погрузить практически всю
                                            доску
                                            в снег. Доски такого типа идеально подходят для слалома, ведь широкая дуга
                                            поворота вкупе с потенциальной огромной скоростью дарит просто незабываемые
                                            ощущения на трассе.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/30/19044756.1b9/0_dad50_7e7e0ef4_orig"
                                                 style="width: 571px; height: 377px;" width="571" height="377">
                                        </p>
                                        <p>
                                            Fish – сноуборды оригинальной формы: с заостренным носом и хвостом в виде
                                            плавника, либо же просто округлым. В отличие от досок типа «ласточки хвост»
                                            их
                                            невозможно погрузить в снег, и к тому же они развивают огромную скорость.
                                            Борды
                                            fish также подходят и для карвинга, но ими довольно сложно управлять,
                                            поэтому в
                                            комплект к доске должны приобретаться и жесткие ботинки с креплениями.
                                        </p>
                                        <p>
                                            «Банан» – такое название данный вид сноубордов получил благодаря
                                            оригинальному
                                            прогибу, в котором нос и хвост доски загнуты вверх, а середина, наоборот,
                                            выгнута к земле. Такой прогиб дает возможность легко кататься по powder
                                            снегу,
                                            края доски приподняты, и вы не схватите канта, то есть, не зацепитесь краем
                                            сноуборда за снег. Ну а если вдруг один из концов начал погружаться, будет
                                            достаточно дать усилие на противоположный край, чтобы освободить снаряд из
                                            ловушки. Но у этого прогиба есть и свои недостатки – так, благодаря
                                            приподнятым
                                            краям, но прижатой к земле середине, осуществлять прыжки и крутые повороты
                                            будет
                                            довольно-таки сложно.
                                        </p>
                                        <p>
                                            Splitboard – необычный тип сноуборда, при котором доска может быть
                                            разъединена
                                            на две лыжи (для бэккантри, например), а для спуска – снова собрана в
                                            цельную
                                            конструкцию. Данный тип досок может иметь разные виды прогибов и, по сути,
                                            является оригинальной реализацией сноуборда для более удобного back-country.
                                            Из
                                            недостатков можно отметить сравнительную ненадежность конструкции (на
                                            жестких
                                            поверхностях сильно вибрирует), а также дополнительные затраты времени на
                                            сборку-разборку борда, ведь одно дело делать это в условиях хорошей погоды,
                                            и
                                            совсем другое – пыхтя очищать крепления ото льда или пытаться найти
                                            оброненную
                                            деталь в снежном покрове.
                                        </p>
                                        <p>
                                            <img src="http://img-fotki.yandex.ru/get/3801/19044756.1b9/0_dad51_feae4a7b_orig"
                                                 style="width: 596px; height: 336px;" width="596" height="336">
                                        </p>
                                        <h4>
                                            Зубры сноуборд-индустрии
                                        </h4>
                                        <p>
                                            Среди торговых марок можно выделить несколько, производство сноубордов для
                                            которых – дело всей жизни.
                                        </p>
                                        <p>
                                            Одной из таких фирм стала APO snowboarding, одна из старейших в Европе
                                            фирм-производителей досок для катания по снегу. Первая продукция APO
                                            собиралась
                                            из старых досок, комодов и других деревянных предметов. Впоследствии же,
                                            благодаря поддержке американских райдеров, обрубок фанеры превратился в
                                            полноценный спортивный снаряд, и по сей день компания APO производит
                                            высококачественные доски как для фрирайда, так и для фристайла и джиббинга.
                                        </p>
                                        <p>
                                            Фирма Dupraz черпает вдохновение из океана, а точнее, из направления
                                            серфинга.
                                            Острый нос как нельзя полно демонстрирует принадлежность к фрирайду, но на
                                            досках от Мишеля Дюпра можно не только покорять powder, но и раскатывать
                                            склоны
                                            горнолыжных курортов.
                                        </p>
                                        <p>
                                            Всех производителей снарядов для фрирайда можно перечислять очень долго,
                                            поэтому
                                            завершит их небольшой список Libtech и GNU, которые производят доски с 1977
                                            года
                                            под объединением Mervin, а также делает упор на профессионализм и
                                            аутентичность.
                                            Компания производит сноуборды для разных типов снега и стилей катания, но
                                            эта
                                            универсальность производства никак не отразилась на качестве продукта.
                                        </p>
                                        <p>
                                            <iframe allowfullscreen="" src="https://www.youtube.com/embed/99N0wKBe1JA"
                                                    width="560" height="315" frameborder="0">
                                            </iframe>
                                        </p>


                                        <p></p>
                                    </div>

                                    <div class="b-relative-posts">
                                        <div class="b-relative-posts_title">Еще почитать:</div>

                                        <table class="b-category_body">
                                            <tbody>
                                            <tr>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/kak-syekonomity-pri-pokpke-snoborda.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/62627/19044756.1c1/0_e4bcd_b3b50235_S"
                                                                alt="Как сэкономить при покупке сноуборда"></div>
                                                        <div class="b-category_post_title">Как сэкономить при покупке
                                                            сноуборда
                                                        </div>
                                                        <div class="b-category_post_abstract">Полезные советы</div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/racii-dlya-gornolyzhnikov.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/46114/19044756.1c1/0_e3e78_e1d233fd_S"
                                                                alt="Рации для горнолыжников"></div>
                                                        <div class="b-category_post_title">Рации для горнолыжников</div>
                                                        <div class="b-category_post_abstract">Как общаться на склоне
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/vybiraem-snobord.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/45245/19044756.1c0/0_e1dd0_c5f07380_S"
                                                                alt="Выбираем сноуборд"></div>
                                                        <div class="b-category_post_title">Выбираем сноуборд</div>
                                                        <div class="b-category_post_abstract">Правила подбора от наших
                                                            партнеров
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="b-category_post">
                                                    <a href="/ekipirovka/pervyj-droneboarding.htm?utm_campaign=relative_posts&amp;utm_term=table">
                                                        <div class="b-category_post_img"><img
                                                                src="http://img-fotki.yandex.ru/get/42991/19044756.1c0/0_e14ca_5b7f1bfc_S"
                                                                alt="Первый DroneBoarding"></div>
                                                        <div class="b-category_post_title">Первый DroneBoarding</div>
                                                        <div class="b-category_post_abstract">На сноуборде за
                                                            квадрокоптером!
                                                        </div>
                                                    </a>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </td>
                    <td class="l-page-g"><i>

                    </i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
{% endblock %}


{%block footer%}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<!-- FontAwesome script -->
<script src="../vendor/fontawesome/fontawesome-icons.js"
        crossorigin="anonymous"></script>
</html>
{%endblock%}
